RewriteEngine On
Options +FollowSymLinks
Options -Indexes
DirectoryIndex index.php
RewriteBase /beta/
#INDEX:
RewriteRule ^/(.)$ /beta/index.php [R]
#RewriteRule ^/(.*)$ /beta/index.php [R]
#PROFESIONAL:
RewriteRule ^profesional/([a-zA-Z0-9_-]+)$ /beta/profesional/$1/	[R]	#Renombra un directorio "...../pepe" por "...../pepe/"
RewriteCond %{REQUEST_URI} !.*\.(js|php|jpg|png) [NC]		#Evita que al requerir una extension ".php" o ".js" se la tome como PRORESIONAL
RewriteRule ^profesional/([a-zA-Z0-9_-]+)/ /beta/u-galeria.php?entidad_visitada=$1
#EMPRESA:
RewriteRule ^empresa/([a-zA-Z0-9_-]+)$ /beta/empresa/$1/	[R]	#Renombra un directorio "...../pepe" por "...../pepe/"
RewriteCond %{REQUEST_URI} !.*\.(js|php|jpg|png) [NC]		#Evita que al requerir una extension ".php" o ".js" se la tome como EMPRESA
RewriteRule ^empresa/([a-zA-Z0-9_-]+)/ /beta/e-galeria.php?entidad_visitada=$1 [L]