.header .img{
width: 40px;
height: 40px;
background-image: url(imagenes/img_header.jpg);
background-repeat: no-repeat;
margin: auto;
width:1024px;
height:128px;
overflow: hidden;
cursor: pointer;
}
.header .titulos{
width:1024px;
height: 25px;
background-color: #0089D1;
overflow: hidden;
}
.header .titulos a{
cursor:pointer;
text-decoration:none;
}
.header .titulos .izquierda{
float: left;
margin-left: 20px;
margin-top: 4px;
}
.header .titulos .derecha{
float: right;
margin-right: 20px;
margin-top: 4px;
}
.header .menu{
width:1024px;
height: 60px;
background-color: #ffffff;
overflow: hidden;
}
.header .menu p{
margin-top: 20px;
}
.header .menu h2{
margin-top: 20px;
color: #42a0d2;
margin-left: 15px;
}
.header .menu .buscador p{
margin-top: 15px;
}
.header .menu .buscador .b-texto{
width: 350px;
}
.header .menu .buscador .b-select{
width: 140px;
}
.header .menu .buscador .borde{
border: 5px solid #42a0d2;
height: 22px;
}
.header .menu .buscador .borde-boton1{
border: 5px solid #ffffff;
height: 22px;
color: #ffffff;
}
.header .menu div{
height: 60px;
float: left;
/*border: 1px solid #000000;*/
text-align: center;
}
.header .menu .div-1{
width:100px;
}
.header .menu .div-1 a{
color: #ff0000;
}
.header .menu .div-2{
width: 50px;
}
.header .menu .div-2 a{
color: #0089D1;
}
.header .menu .buscador{
width:715px;
}