/*BOTONES e INPUTs globales*/
.boton1{
width: 95px;
height: 22px;
background-image: url(imagenes/boton1.png);
border: 0;
text-align: center;
font-weight: bold;
color: #FFFFFF;
cursor: pointer;
padding-bottom: 2px;
}

.solapa-lateral{
width: 80px;
height: 80px;
border: 0;
overflow: hidden;
}
.solapa-lateral .extremo{
float: left;
width: 9px;
height: 80px;
background-image: url(imagenes/borde-solapa-lateral.png);
background-repeat: no-repeat;
border: 0;
}
.solapa-lateral .degrade{
border-top: 1px solid #cccccc;
border-bottom: 1px solid #cccccc;
float:left;
width: 71px;
height: 78px;
background-image: url(imagenes/degrade-solapa-lateral.png);
background-repeat: repeat-x;
}
/**/
/*clases para pantallas PROFESIONAL ------>*/
.col-profesional .superior-col, .col-profesional .profesional-col, 
.col-profesional .medio-col, .col-profesional .inferior-col,
.col-empresa .superior-col, .col-empresa .empresa-col, 
.col-empresa .medio-col, .col-empresa .inferior-col{
float: left;
overflow: hidden;
width: 212px;
}
.col-profesional table, .col-empresa table{
border-collapse:collapse;
border-spacing:0;
}
.col-profesional table th, .col-profesional table td,
.col-profesional table tr,
.col-empresa table th, .col-empresa table td,
.col-empresa table tr{
border-width:0;
height:20px;
margin:0;
padding:0;
text-align: right;
}
.col-profesional .superior-col, .col-empresa .superior-col{
height: 12px;
background-repeat: no-repeat;
margin-top: 15px;
}
.col-profesional .superior-col{
background-image: url(imagenes/superior-col-profesional.png);
}
.col-empresa .superior-col{
background-image: url(imagenes/superior-col-empresa.png);
}
.col-profesional .profesional-col, .col-empresa .empresa-col{
height: 354px;
width: 210px;
}
.col-profesional .profesional-col{
border-left: 1px solid #6cb4e4;
border-right: 1px solid #6cb4e4;
background-image: url(imagenes/degrade1-col-profesional.png);
background-repeat: repeat-x;
}
.col-profesional .profesional-col p, .col-empresa .empresa-col p{
margin-left: 10px;
}
.col-empresa .empresa-col{
border-left: 1px solid #000000;
border-right: 1px solid #000000;
background-image: url(imagenes/degrade1-col-empresa.png);
background-repeat: repeat-x;
}
.profesional-col .foto, .empresa-col .foto{
float: left;
display: inline;
overflow: hidden;
text-align: center;
height: 180px;
width: 210px;
}
.profesional-col img, .empresa-col img{
margin: 10px;
}
.col-profesional .medio-col, .col-empresa .medio-col{
height: 264px;
width: 210px;
}
.col-profesional .medio-col{
background-image: url(imagenes/degrade2-col-profesional.png);
background-repeat: repeat-x;
border-left: 1px solid #6cb4e4;
border-right: 1px solid #6cb4e4;
}
.col-empresa .medio-col{
background-image: url(imagenes/degrade2-col-empresa.png);
background-repeat: repeat-x;
border-left: 1px solid #000000;
border-right: 1px solid #000000;
}
.col-profesional .inferior-col, .col-empresa .inferior-col{
height: 10px;
}
.col-profesional .inferior-col{
background-image: url(imagenes/inferior-col-profesional.png);
background-repeat: no-repeat;
}
.col-empresa .inferior-col{
background-image: url(imagenes/inferior-col-empresa.png);
background-repeat: no-repeat;
}

/**/
.col-profesional-centro .casilla-superior, .col-profesional-centro .casilla-inferior,
.col-empresa-centro .casilla-superior, .col-empresa-centro .casilla-inferior{
float: left;
overflow: hidden;
width: 548px;
}
.col-profesional-centro .casilla-superior,
.col-empresa-centro .casilla-superior{
height: 321px;
margin-top: 15px;
}
.casilla-superior .borde-solapas, .casilla-superior .portfolio,
.casilla-superior .borde-botones-mensajes, .casilla-superior .contenido-mensajes,
.casilla-superior .borde-derecho, .casilla-superior .contenido-portfolio,
.casilla-superior .contenido-editar-perfil{
float: left;
overflow: hidden;
height: 321px;
}
.casilla-superior .borde-solapas{
width: 93px;
border-right: 1px solid #6db3e4;
}
.casilla-superior .borde-solapas .solapa{
float: left;
width: 94px;
height: 80px;
background-image: url(imagenes/solapa-lateral.png);
background-repeat: no-repeat;
}
.casilla-superior .borde-solapas .solapa2{
height: 81px;
}
.casilla-superior .borde-solapas .solapa:hover{
background-image: url(imagenes/solapa-lateral-presionada.png);
}
.casilla-superior .borde-solapas .solapa[disabled="true"]{
float: left;
width: 94px;
height: 80px;
background-image: url(imagenes/solapa-lateral-disabled.png);
background-repeat: no-repeat;
}
.casilla-superior .solapa-empresa{
float: left;
width: 94px;
height: 80px;
background-image: url(imagenes/solapa-lateral-empresa.png);
background-repeat: no-repeat;
}
.casilla-superior .solapa-empresa:hover{
background-image: url(imagenes/solapa-lateral-presionada-empresa.png);
}
.casilla-superior .portfolio{
width: 460px;
}
.casilla-superior .contenedor-botones-mensajes{
width: 80px;
height: 319px;
}
.casilla-superior .borde-botones-mensajes{
width: 80px;
height: 319px;
background-color: #edf8fe;
border-top: 1px solid #6db3e4;
border-bottom: 1px solid #6db3e4;
}
.col-empresa-centro .casilla-superior .borde-botones-mensajes{
width: 80px;
height: 319px;
background-image: url(imagenes/degrade-casilla-superior-empresa.png);
background-repeat: repeat-x;
border-top: 1px solid #6db3e4;
border-bottom: 1px solid #6db3e4;
}
.casilla-superior .borde-botones-mensajes table{
margin-left: 5px;
margin-top: 0px;
}
.boton2{
width: 65px;
height: 22px;
background-image: url(imagenes/boton2.png);
background-repeat: no-repeat;
border: 0px;
background-color: transparent;
font-size: 10px;
font-weight: bold;
color: #0089D1;
}
.boton2 a{
font-size: 10px;
font-weight: bold;
color: #0089D1;
}
.boton2:hover{
background-image: url(imagenes/boton2-presionado.png);
color: #ffffff;
}
.boton2 a:hover{
color: #ffffff;
}
.casilla-superior .contenido-mensajes, .casilla-superior .contenido-portfolio,
.casilla-superior .contenido-editar-perfil{
width: 360px;
height: 319px;
border-top: 1px solid #6db3e4;
border-bottom: 1px solid #6db3e4;
}
.casilla-superior .contenido-editar-perfil,
.casilla-superior .contenido-laborales{
width: 442px;
border-top: 1px solid #6db3e4;
border-bottom: 1px solid #6db3e4;
}
.casilla-superior .contenido-laborales{
height: 319px;
float: left;
overflow: hidden;
}
.contenido-mensajes .cabecera-escribir, .contenido-mensajes .datos-escribir,
.contenido-mensajes .mce-escribir, .contenido-mensajes .contenido-escribir,
.contenido-mensajes .enviar-escribir{
float: left;
overflow: hidden;
width: 358px;
}
.contenido-editar-perfil .salvar-perfil,.contenido-editar-perfil .form-editar-perfil,
.contenido-laborales .cabecera-oferta, .contenido-laborales .form-oferta,
.contenido-laborales .enviar-oferta, .contenido-laborales .ver-mis-ofertas,
.contenido-laborales .titulo-mi-oferta, .contenido-laborales .descripcion-mi-oferta{
float: left;
overflow: hidden;
width: 442px;
}
.contenido-portfolio .cabecera-portfolio, .contenido-portfolio .imagenes-portfolio,
.contenido-portfolio .recorrer-portfolio, .contenido-mensajes .lista-mensajes,
.contenido-mensajes .recorrer-mensajes{
float: left;
overflow: hidden;
width: 358px;
}
.contenido-mensajes .cabecera-escribir, .contenido-portfolio .cabecera-portfolio,
.contenido-editar-perfil .salvar-perfil, .contenido-laborales .cabecera-oferta,
.contenido-laborales .enviar-oferta, .enviar-oferta .fondo1, .enviar-oferta .fondo2{
height: 30px;
}
.contenido-laborales .cabecera-oferta{
background-image: url(imagenes/degrade1-subir-oferta.png);
background-repeat: repeat-x;
}
.contenido-laborales .cabecera-oferta h2{
color: #ffffff;
}
.contenido-laborales .form-oferta,
.contenido-laborales .ver-mis-ofertas{
height: 259px;
}
.contenido-laborales .form-oferta .table1{
height: 50px;
width: 440px;
}
.contenido-laborales .form-oferta input, .contenido-laborales .form-oferta textarea,
.contenido-laborales .form-oferta select, .contenido-laborales .form-oferta p{
float: right;
}
.contenido-laborales .form-oferta .table1 .oeProfesionRequerida{
width: 150px;
}
.contenido-laborales .form-oferta .table1 .oeNivel{
width: 100px;
}
.contenido-laborales .form-oferta .table2{
height: 50px;
width: 440px;
}
.contenido-laborales .form-oferta .table2 .oeModalidad{
width: 100px;
}
.contenido-laborales .form-oferta .table2 .oePago{
width: 70px;
}
.contenido-laborales .form-oferta .table3{
height: 75px;
width: 440px;
}
.contenido-laborales .form-oferta .table3 .oeDetalle{
height: 50px;
width: 300px;
}
.contenido-laborales .form-oferta .table3 .oeCapacidad{
height: 50px;
width: 300px;
}
.contenido-laborales .separador1{
border-top:1px solid #999999;
height:0;
width:440px;
}
.contenido-laborales .enviar-oferta p, .contenido-laborales .enviar-oferta select{
float: right;
}
.enviar-oferta .fondo1{
float:left;
overflow: hidden;
width: 221px;
}
.enviar-oferta .fondo2{
float:left;
overflow: hidden;
width: 221px;
background-image:url(imagenes/degrade1-subir-oferta.png);
background-repeat:repeat-x;
}
.contenido-laborales .enviar-oferta .table4{
height: 30px;
width: 220px;
margin-top:-5px;
}
.contenido-laborales .enviar-oferta .table4 td{
width: 100px;
}
.contenido-laborales .enviar-oferta .table4 .oeFechaEntrega{
width: 70px;
}
.contenido-laborales .enviar-oferta .table4 .oePublicar{
width: 70px;
margin-left: 0px;
margin-top: 5px;
background: transparent;
width: 200px;
color: #ffffff;
font-size: 18px;
border: 0px;
cursor: pointer;
}
.contenido-laborales .ver-mis-ofertas{
overflow-y: scroll;
overflow-x: hidden;
}
.contenido-laborales .titulo-mi-oferta{
height: 20px;
background-color: #aaaaaa;
width: 425px;
}
.contenido-laborales .descripcion-mi-oferta{
height: auto;
background-color: #ffffff;
border-bottom:1px solid #aaaaaa;
width: 425px;
}
.titulo-oferta-busqueda, .descripcion-oferta-busqueda, .pie-oferta-busqueda{
width: 532px;
overflow: hidden;
}
.titulo-oferta-busqueda{
height: 20px;
background-color: #0089D1;
}
.descripcion-oferta-busqueda{
height: auto;
background-color: #ffffff;
border-bottom:1px solid #aaaaaa;
}
.pie-oferta-busqueda{
height: 20px;
background-color: #ffffff;
}
.titulo-oferta-col, .descripcion-oferta-col, .relleno-oferta-col, .pie-oferta-col{
width: 208px;
overflow: hidden;
border-left: 1px solid #95D9E9;
border-right: 1px solid #95D9E9;
}
.titulo-oferta-col{
height: 20px;
background-color: #0089D1;
}
.descripcion-oferta-col{
height: 55px;
background-color: #ffffff;
}
.descripcion-oferta-col .parrafo3{
margin-left: 10px;
}
.relleno-oferta-col{
height: 48px;
}
.pie-oferta-col{
height: 20px;
background-color: #ffffff;
}
.pie-oferta-col a{
text-decoration: none;
cursor: pointer;
}
.contenido-portfolio .un-portfolio-mio,
.contenido-portfolio .un-portfolio-mio .imagen-portfolio,
.contenido-portfolio .un-portfolio-mio .pie-portfolio,
.contenido-amigos .borde-amigo-chico, .inferior-amigos .borde-amigo-chico{
float: left;
overflow: hidden;
width: 100px;
}
.contenido-amigos .borde-amigo-chico, .inferior-amigos .borde-amigo-chico{
height:80px;
margin-left:15px;
margin-top:5px;
width:64px;
}
.contenido-portfolio .un-portfolio-mio{
height: 120px;
width: 100px;
margin-top: 7px;
margin-left: 15px;
}
.contenido-portfolio .un-portfolio-mio .imagen-portfolio{
display: inline;
height: 100px;
width: 100px;
text-align: center;
}
.contenido-portfolio .un-portfolio-mio .pie-portfolio{
height: 20px;
}
.contenido-mensajes .cabecera-escribir, .contenido-portfolio .cabecera-portfolio,
.contenido-editar-perfil .salvar-perfil,
.col-empresa-centro .contenido-mensajes .cabecera-escribir{
background-color: #edf8fe;
float: left;
overflow: hidden;
border-right: 1px solid #D2D2D2;
}
.col-empresa-centro .contenido-mensajes .cabecera-escribir{
background-color: #ffffff;
}
.contenido-editar-perfil .salvar-perfil{
background-color: #edf8fe;
}
.contenido-editar-perfil .salvar-perfil h2{
float: left;
width: 100px;
}
.contenido-editar-perfil .salvar-perfil .boton3{
float: left;
margin-left: 270px;
margin-top: 5px;
}
.contenido-editar-perfil .form-editar-perfil{
height: 289px;
background-color: #ffffff;
float:left;
}
.contenido-editar-perfil .form-editar-perfil tr, .contenido-editar-perfil .form-editar-perfil td{
height: 10px;
margin: 0px;
}
.contenido-editar-perfil .form-editar-perfil p{
margin: 0px;
}
.contenido-editar-perfil .form-editar-perfil .tabla1{
height: 60px;
width: 440px;
}
.contenido-editar-perfil .euNombres, .contenido-editar-perfil .euApellidos{
width:130px;
}
.contenido-editar-perfil .euNacimiento{
width:80px;
}
.contenido-editar-perfil .euEmail{
width:180px;
}
.contenido-editar-perfil .euSexo{
width:100px;
}
.contenido-editar-perfil .euPaisResidencia{
width:80px;
}
.contenido-editar-perfil .euEmpresa{
width:120px;
}
.contenido-editar-perfil .euProfesion{
width:120px;
}
.contenido-editar-perfil .euNivelProfesion{
width:80px;
}

.contenido-editar-perfil .form-editar-perfil .tabla2{
height: 110px;
width: 440px;
}
.contenido-editar-perfil .form-editar-perfil .tabla3{
height: 110px;
width: 440px;
}
.contenido-mensajes .cabecera-escribir table{
width: 350px;
height: 30px;
margin-left: 20px;
}
.contenido-mensajes .datos-escribir{
background-image: url(imagenes/degrade-datos-escribir.png);
background-repeat: repeat-x;
height: 50px;
border-top: 1px solid #d2d2d2;
border-bottom: 1px solid #d2d2d2;
border-right: 1px solid #d2d2d2;
border-left: 1px solid #d2d2d2;
width: 357px;
}
.contenido-mensajes .datos-escribir table{
border-collapse:collapse;
border-spacing:0;
height: 50px;
width: 340px;
margin-left: 10px;
}
.contenido-mensajes .datos-escribir table th, .contenido-mensajes .datos-escribir table td,
.contenido-mensajes .datos-escribir table tr{
border-width:0;
height:20px;
margin:0;
padding:0;
text-align: right;
}
.contenido-mensajes .datos-escribir table .umPara .umEntidad,
.contenido-mensajes .datos-escribir table .umPara .emEntidad{
width: 140px;
}
.contenido-mensajes .datos-escribir .umAsunto,
.contenido-mensajes .datos-escribir .emAsunto{
width: 283px;
}
.contenido-mensajes .mce-escribir{
height: 25px;
background-color: #f4f4f4;
border-right: 1px solid #d2d2d2;
}
.contenido-mensajes .contenido-escribir{
height: 211px;
background-color: #ffffff;
border-right: 1px solid #d2d2d2;
}
.contenido-mensajes .contenido-escribir textarea{
height: 199px;
width: 354px;
}
.contenido-mensajes .enviar-escribir, .contenido-portfolio .recorrer-portfolio,
.contenido-mensajes .recorrer-mensajes, .contenido-mensajes .titulos-mensajes,
.col-empresa-centro .contenido-mensajes .enviar-escribir{
height: 25px;
background-image: url(imagenes/degrade-enviar-escribir.png);
background-repeat: repeat-x;
border-top: 1px solid #d2d2d2;
border-right: 1px solid #d2d2d2;
border-left: 1px solid #6db3e4;
}
.col-empresa-centro .contenido-mensajes .enviar-escribir{
border-left: 1px solid #d2d2d2;
width: 357px;
}
.contenido-mensajes .enviar-escribir table{
border-collapse:collapse;
border-spacing:0;
height: 25px;
width: 340px;
margin-left: 10px;
}
.contenido-mensajes .enviar-escribir table th, .contenido-mensajes .enviar-escribir table td,
.contenido-mensajes .enviar-escribir table tr{
border-width:0;
height:20px;
margin:0;
padding:0;
text-align: right;
}
.boton3{
width: 53px;
height: 17px;
background-image: url(imagenes/boton3.png);
background-repeat: no-repeat;
border: 0px;
background-color: transparent;
font-size: 10px;
font-weight: bold;
color: #0089D1;
}
.contenido-portfolio .imagenes-portfolio, .contenido-mensajes .lista-mensajes{
height: 262px;
background-color: #ffffff;
border-top: 1px solid #d2d2d2;
border-left: 1px solid #6db3e4;
}
.contenido-mensajes .lista-mensajes{
overflow-y: scroll;
overflow-x: hidden;
}
.contenido-mensajes .lista-mensajes table{
width: 359px;
}
.contenido-mensajes .lista-mensajes table td.usuario{
width: 100px;
}
.contenido-mensajes .lista-mensajes table td.asunto{
width: 200px;
}
.contenido-mensajes .lista-mensajes table td.fecha{
width: 59px;
}
.contenido-portfolio .recorrer-portfolio a{
text-decoration:none;
}

.casilla-superior .borde-derecho{
width: 12px;
background-image: url(imagenes/borde-derecho-casilla-superior.png);
background-repeat: no-repeat;
}
/*.col-profesional-centro .casilla-inferior*/
.col-profesional-centro .casilla-inferior, .col-empresa-centro .casilla-inferior{
height:308px;
margin-top: 10px;
}
.col-profesional-centro .casilla-inferior .extremo-izq, .col-profesional-centro .casilla-inferior .extremo-der,
.col-profesional-centro .casilla-inferior .superior-comentarios, .col-profesional-centro .casilla-inferior .contenido-comentarios,
.col-profesional-centro .casilla-inferior .inferior-comentarios, .col-profesional-centro .casilla-inferior .superior-amigos,
.col-profesional-centro .casilla-inferior .contenido-amigos, .col-profesional-centro .casilla-inferior .inferior-amigos,
.col-profesional-centro .casilla-inferior .borde-contenido,
.col-empresa-centro .casilla-inferior .extremo-izq, .col-empresa-centro .casilla-inferior .extremo-der,
.col-empresa-centro .casilla-inferior .superior-comentarios, .col-empresa-centro .casilla-inferior .contenido-comentarios,
.col-empresa-centro .casilla-inferior .inferior-comentarios, .col-empresa-centro .casilla-inferior .superior-amigos,
.col-empresa-centro .casilla-inferior .contenido-amigos, .col-empresa-centro .casilla-inferior .inferior-amigos,
.col-empresa-centro .casilla-inferior .borde-contenido{
float: left;
overflow: hidden;
height:308px;
}
.col-profesional-centro .casilla-inferior .extremo-izq, .col-profesional-centro .casilla-inferior .extremo-der{
width: 12px;
}
.col-empresa-centro .casilla-inferior .extremo-izq, .col-empresa-centro .casilla-inferior .extremo-der{
width: 9px;
}
.col-profesional-centro .casilla-inferior .extremo-izq{
background-image: url(imagenes/borde-izquierdo-casilla-inferior.png);
background-repeat: no-repeat;
}
.col-empresa-centro .casilla-inferior .extremo-izq{
background-image: url(imagenes/borde-izquierdo-casilla-inferior-empresa.png);
background-repeat: no-repeat;
}
.col-profesional-centro .casilla-inferior .extremo-der{
background-image: url(imagenes/borde-derecho-casilla-inferior.png);
background-repeat: no-repeat;
}
.col-empresa-centro .casilla-inferior .extremo-der{
background-image: url(imagenes/borde-derecho-casilla-inferior-empresa.png);
background-repeat: no-repeat;
}
.col-profesional-centro .casilla-inferior .borde-contenido{
width: 524px;
background-color: #f7eedd;
height:306px;
border-top: 1px solid #6DB3E4;
border-bottom: 1px solid #6DB3E4;
}
.col-empresa-centro .casilla-inferior .borde-contenido{
width: 530px;
height:306px;
}
.col-profesional-centro .casilla-inferior .superior-comentarios, .col-profesional-centro .casilla-inferior .contenido-comentarios,
.col-profesional-centro .casilla-inferior .inferior-comentarios, .col-profesional-centro .casilla-inferior .listar-comentarios,
.col-profesional-centro .casilla-inferior .agregar-comentario{
border-right: 1px solid #0089d1;
width: 293px;
}
.col-empresa-centro .casilla-inferior .superior-comentarios, .col-empresa-centro .casilla-inferior .contenido-comentarios,
.col-empresa-centro .casilla-inferior .inferior-comentarios{
width: 530px;
}
.col-empresa-centro .casilla-inferior .superior-comentarios{
background-image: url(imagenes/degrade1-casilla-inferior-empresa.png);
background-repeat: repeat-x;
height: 52px;
}
.col-empresa-centro .casilla-inferior .contenido-comentarios{
background-image: url(imagenes/degrade2-inferior-empresa.png);
background-repeat: repeat-x;
}
.col-empresa-centro .casilla-inferior .inferior-comentarios{
background-image: url(imagenes/degrade3-inferior-empresa.png);
background-repeat: repeat-x;
}
.col-profesional-centro .casilla-inferior .superior-comentarios p, .col-profesional-centro .casilla-inferior .superior-amigos p,
.col-empresa-centro .casilla-inferior .superior-comentarios p, .col-empresa-centro .casilla-inferior .superior-amigos p{
width: 235px;
height: 30px;
background-color: #0089d1;
font-size: 22px;
color: #ffffff;
margin-top: 10px;
padding-left: 50px;
padding-top: 2px;
}
.col-empresa-centro .casilla-inferior .superior-comentarios p{
background-color: transparent;
width:474px;
}
.col-profesional-centro .casilla-inferior .listar-comentarios{
height: 135px;
float: left;
overflow: hidden;
}
.col-profesional-centro .casilla-inferior .agregar-comentario{
float: left;
overflow: hidden;
height: 23px;
}
.col-empresa-centro .casilla-inferior .agregar-comentario{
float: left;
overflow: hidden;
height: 23px;
padding-top: 55px;
padding-left: 5px;
}
.col-profesional-centro .casilla-inferior .agregar-comentario p{
float: right;
overflow: hidden;
margin-right: 10px;
margin-top: 0px;
}
.col-profesional-centro .casilla-inferior .superior-amigos p,
.col-empresa-centro .casilla-inferior .superior-amigos p{
width: 180px;
margin-left: 10px;
}
.casilla-inferior .superior-amigos a{
float: left;
font-size: 10px;
margin-left:30px;
padding-top:10px;
position:absolute;
color: #ffffff;
}
.contenido-amigos .foto-comentario,
.inferior-amigos .foto-comentario{
float:left;
height:62px;
margin-bottom:0;
margin-left:0;
margin-top:0;
overflow:hidden;
width:64px;
}
.casilla-inferior .superior-comentarios a{
float: left;
font-size: 10px;
margin-left:30px;
padding-top:10px;
position:absolute;
color: #ffffff;
}
.col-profesional-centro .casilla-inferior .inferior-comentarios .buscar-amigos,
.col-empresa-centro .casilla-inferior .inferior-comentarios .buscar-amigos{
float: left;
overflow: hidden;
height: 78px;
}
.col-profesional-centro .casilla-inferior .inferior-comentarios .buscar-amigos-izq,
.col-profesional-centro .casilla-inferior .inferior-comentarios .buscar-amigos-der,
.col-profesional-centro .casilla-inferior .inferior-comentarios .buscar-amigos-cont,
.col-empresa-centro .casilla-inferior .inferior-comentarios .buscar-amigos-izq,
.col-empresa-centro .casilla-inferior .inferior-comentarios .buscar-amigos-der,
.col-empresa-centro .casilla-inferior .inferior-comentarios .buscar-amigos-cont{
float: left;
overflow: hidden;
height: 78px;
}
.col-profesional-centro .casilla-inferior .inferior-comentarios .buscar-amigos-izq,
.col-empresa-centro .casilla-inferior .inferior-comentarios .buscar-amigos-izq{
width: 8px;
background-image: url(imagenes/borde-izquierdo-buscar-amigos-inferior.png);
background-repeat: no-repeat;
}
.col-profesional-centro .casilla-inferior .inferior-comentarios .buscar-amigos-cont,
.col-empresa-centro .casilla-inferior .inferior-comentarios .buscar-amigos-cont{
height: 76px;
width: 270px;
background-image: url(imagenes/degrade-buscar-amigos-inferior.png);
background-repeat: repeat-x;
border-top: 1px solid #d2d2d2;
border-bottom: 1px solid #d2d2d2;
}
.col-empresa-centro .casilla-inferior .inferior-comentarios .buscar-amigos-cont{
width: 400px;
}
.col-empresa-centro .casilla-inferior .inferior-comentarios textarea{
height: 66px;
width: 393px;
background-color: transparent;
}
.col-profesional-centro .casilla-inferior .inferior-comentarios .buscar-amigos-der,
.col-empresa-centro .casilla-inferior .inferior-comentarios .buscar-amigos-der{
width: 8px;
background-image: url(imagenes/borde-derecho-buscar-amigos-inferior.png);
background-repeat: no-repeat;
}
.col-profesional-centro .casilla-inferior .contenido-comentarios, .col-profesional-centro .casilla-inferior .contenido-amigos,
.col-empresa-centro .casilla-inferior .contenido-comentarios, .col-empresa-centro .casilla-inferior .contenido-amigos{
float: left;
overflow: hidden;
height: 170px;
}
.col-profesional-centro .casilla-inferior .superior-amigos, .col-profesional-centro .casilla-inferior .contenido-amigos,
.col-profesional-centro .casilla-inferior .inferior-amigos,
.col-empresa-centro .casilla-inferior .superior-amigos, .col-empresa-centro .casilla-inferior .contenido-amigos,
.col-empresa-centro .casilla-inferior .inferior-amigos{
width: 230px;
}
.col-profesional-centro .casilla-inferior .superior-comentarios, .col-profesional-centro .casilla-inferior .superior-amigos{
height: 50px;
}
.col-empresa-centro .casilla-inferior .superior-comentarios{
height: 52px;
}
.col-profesional-centro .casilla-inferior .inferior-comentarios, .col-profesional-centro .casilla-inferior .inferior-amigos,
.col-empresa-centro .casilla-inferior .inferior-comentarios, .col-empresa-centro .casilla-inferior .inferior-amigos{
height: 86px;
}
/*<-------*/
/**/
.col-profesional-derecha .superior-col,
.col-profesional-derecha .publicidad-col, .col-profesional-derecha .inferior-col,
.col-empresa-derecha .superior-col,
.col-empresa-derecha .publicidad-col, .col-empresa-derecha .inferior-col
{
border: 1px solid #000000;
background-color: #dddddd;
float: left;
overflow: hidden;
width: 210px;
}
.col-profesional-derecha .superior-col{
height: 50px;
}
.clasificados-col{
background-color: #ffffff;
float: left;
overflow: hidden;
width: 210px;
height: 603px;
}
.clasificados-col .cabecera, .clasificados-col .superior,
.clasificados-col .contenido, .clasificados-col .inferior{
float: left;
overflow: hidden;
width: 210px;
}
.clasificados-col .cabecera{
height: 72px;
background-image: url(imagenes/cabecera-clasificados.png);
background-repeat: no-repeat;
}
.clasificados-col .superior{
height: 0px;
}
.clasificados-col .contenido{
height: 474px;
}
.clasificados-col .inferior{
height: 9px;
background-image: url(imagenes/inferior-clasificados.png);
background-repeat: no-repeat;
}

.publicidad-col{
height: 200px;
}
.col-profesional-derecha .inferior-col{
height: 50px;
}
/**/
/*CLASES PARA HOME ----->*/
.col-centroizquierda .col-contenido-home{
float: left;
overflow: hidden;
width: 769px;
height:  202px;
background-image: url(imagenes/contenido-home-superior.jpg);
background-repeat: no-repeat;
margin-top: 15px;
}
.col-centroizquierda .col-registrarse{
float: left;
overflow: hidden;
width: 287px;
margin-top: 28px;
}
.col-registrarse h2{
color: #ffffff;
text-align: center;
float: none;
padding-top: 5px;
text-decoration: none;
}
.form-registrarse-usuarios, .form-registrarse-empresas{
float: left;
overflow: hidden;
height: 356px;
width: 285px;
}
.form-registrarse-usuarios .superior, .form-registrarse-usuarios .medio,
.form-registrarse-usuarios .formulario, .form-registrarse-usuarios .inferior,
.form-registrarse-empresas .superior, .form-registrarse-empresas .medio,
.form-registrarse-empresas .formulario, .form-registrarse-empresas .inferior{
float: left;
overflow: hidden;
width: 285px;
}
.form-registrarse-usuarios .superior, .form-registrarse-empresas .superior{
height: 39px;
}
.form-registrarse-usuarios .inferior{
height: 20px;
background-image: url(imagenes/inferior-reg-usuarios.png);
background-repeat: no-repeat;
}
.form-registrarse-empresas .inferior{
height: 20px;
background-image: url(imagenes/inferior-reg-empresas.png);
background-repeat: no-repeat;
}
.form-registrarse-usuarios .solapa-empresas, .form-registrarse-empresas .solapa-empresas{
float: left;
overflow: hidden;
width: 141px;
height: 39px;
background-image: url(imagenes/solapa-reg-empresas.png);
background-repeat: no-repeat;
}

.form-registrarse-usuarios .solapa-usuarios, .form-registrarse-empresas .solapa-usuarios{
float: left;
overflow: hidden;
width: 144px;
height: 39px;
background-image: url(imagenes/solapa-reg-usuarios.png);
background-repeat: no-repeat;
}
.form-registrarse-usuarios .medio{
height: 130px;
background-image: url(imagenes/arte-reg-profesionales.jpg);
background-repeat: no-repeat;
}
.form-registrarse-empresas .medio{
height: 130px;
background-image: url(imagenes/arte-reg-empresas.png);
background-repeat: no-repeat;
}
.form-registrarse-usuarios .formulario{
height: 178px;
width: 283px;
background-color: #6cb4e4;
border-left: 1px solid #46a1d6;
border-right: 1px solid #46a1d6;
}
.form-registrarse-empresas .formulario{
height: 178px;
width: 283px;
background-color: #c4c5c9;
border-left: 1px solid #46a1d6;
border-right: 1px solid #46a1d6;
}
.usuarios-destacados-col, .empresas-destacadas-col{
background-color: #ffffff;
float: left;
overflow: hidden;
width: 210px;
height: 372px;
}
.col-centroizquierda .usuarios-destacados-col,
.col-centroizquierda .empresas-destacadas-col{
margin-top:13px;
}
.usuarios-destacados-col .cabecera, .usuarios-destacados-col .superior,
.usuarios-destacados-col .contenido, .usuarios-destacados-col .inferior,
.empresas-destacadas-col .cabecera, .empresas-destacadas-col .superior,
.empresas-destacadas-col .contenido, .empresas-destacadas-col .inferior{
float: left;
overflow: hidden;
width: 210px;
}
.usuarios-destacados-col .cabecera{
height: 16px;
background-image: url(imagenes/cabecera-usuarios-destacados.png);
background-repeat: no-repeat;
}
.usuarios-destacados-col .superior{
height: 52px;
background-image: url(imagenes/superior-usuarios-destacados.png);
background-repeat: no-repeat;
}
.usuarios-destacados-col .inferior{
height: 7px;
background-image: url(imagenes/inferior-usuarios-destacados.png);
background-repeat: no-repeat;
}
.usuarios-destacados-col .contenido{
height: 292px;
border-left: 1px solid #95D9E9;
border-right: 1px solid #95D9E9;
width: 203px;
background-image: url(imagenes/degrade-usuarios-destacados-col.png);
background-repeat: repeat-x;
padding-left:5px;
padding-top:5px;
}
.empresas-destacadas-col .cabecera{
height: 16px;
background-image: url(imagenes/cabecera-usuarios-destacados.png);
background-repeat: no-repeat;
}
.empresas-destacadas-col .superior{
height: 52px;
background-image: url(imagenes/superior-empresas-destacadas-col.png);
background-repeat: no-repeat;
}
.empresas-destacadas-col .contenido{
height: 297px;
border-left: 1px solid #95D9E9;
border-right: 1px solid #95D9E9;
background-image: url(imagenes/degrade-empresas-destacadas-col.png);
background-repeat: repeat-x;
width: 208px;
}
.empresas-destacadas-col .inferior{
height: 7px;
background-image: url(imagenes/inferior-empresas-destacadas-col.png);
background-repeat: no-repeat;
}

.ultimo-momento-col{
border: 1px solid #000000;
background-color: #ffffff;
float: left;
overflow: hidden;
width: 210px;
height: 372px;
}
.ultimo-momento-col .superior, .ultimo-momento-col .contenido,
.ultimo-momento-col .inferior{
border: 1px solid #000000;
background-color: #ffffff;
float: left;
overflow: hidden;
width: 200px;
}
.ultimo-momento-col .superior{
height:50px;
background-image: url(imagenes/superior-ultimo-momento-col.png);
background-repeat: no-repeat;
}
.ultimo-momento-col .contenido{
background-image: url(imagenes/contenido-ultimo-momento-col.png);
background-repeat: no-repeat;
height:50px;
}
.ultimo-momento-col .inferior{
background-image: url(imagenes/inferior-ultimo-momento-col.png);
background-repeat: no-repeat;
height:50px;
}
/*CLASS para DEBE LOGUEARSE ---->*/
.debe-loguearse{
background-color: #ffffff;
float: left;
overflow: hidden;
background-image: url(imagenes/debe-loguearse.jpg);
background-repeat: no-repeat;
height:223px;
width: 547px;
}
/*<----*/
/*CLASS para DATOS DE LOGIN INCORRECTOS ---->*/
.datos-login-incorrectos{
background-color: #ffffff;
float: left;
overflow: hidden;
background-image: url(imagenes/datos-incorrectos.jpg);
background-repeat: no-repeat;
height:223px;
width: 547px;
}
/*<----*/
/*CLASS para JQUERY.FANCYZOOM ---->*/
.imagenes-portfolio html, .imagenes-portfolio body {
	font: normal 11px Tahoma;
	color: #333;
}
.imagenes-portfolio a {
	outline: none;	
}
.imagenes-portfolio div#wrap {
	width: 500px;
	margin: 50px auto;	
}
.imagenes-portfolio img{
	border: 1px solid #CCC;
	margin: 0px;
}
/*<----*/
.col-busqueda-izquierda, .col-busqueda-centro,
.col-busqueda-derecha, .col-busqueda-cabecera,
.col-busqueda-contenido, .col-busqueda-pie,
.col-busqueda-solapas, .col-busqueda-form,
.col-comentarios-izquierda, .col-comentarios-centro,
.col-comentarios-derecha, .col-comentarios-cabecera,
.col-comentarios-contenido, .col-comentarios-pie,
.col-comentarios-solapas, .col-comentarios-form{
float: left;
overflow: hidden;
}
.col-busqueda-centro, .col-comentarios-centro{
width: 547px;
margin-top: 7px;
}
.col-busqueda-centro .col-busqueda-cabecera,
.col-busqueda-centro .col-busqueda-pie,
.col-busqueda-centro .col-busqueda-form,
.col-comentarios-centro .col-comentarios-cabecera,
.col-comentarios-centro .col-comentarios-pie,
.col-comentarios-centro .col-comentarios-form{
width: 544px;
}
.col-busqueda-centro .col-busqueda-cabecera{
background-image: url(imagenes/cabecera-buscar.png);
background-repeat: no-repeat;
height: 45px;
border-bottom: 1px solid #6CB4E4;
background-position: left bottom;
}
.col-comentarios-centro .col-comentarios-cabecera{
background-image: url(imagenes/cabecera-todos-comentarios.png);
background-repeat: no-repeat;
height: 45px;
border-bottom: 1px solid #6CB4E4;
background-position: left bottom;
}
.col-busqueda-centro .col-busqueda-cabecera .icono{
position: absolute;
margin-left: 20px;
}
.col-comentarios-centro .col-comentarios-cabecera .icono{
position: absolute;
margin-left: 20px;
margin-top: -8px;
}
.col-busqueda-centro .col-busqueda-solapas{
border-right: 1px solid #95D9E9;
border-left: 1px solid #95D9E9;
width:542px;
}
.col-busqueda-centro .col-busqueda-solapas .solapa1,
.col-busqueda-centro .col-busqueda-solapas .solapa2,
.col-busqueda-centro .col-busqueda-solapas .solapa3{
float: right;
overflow: hidden;
width: 124px;
height: 22px;
background-repeat: no-repeat;
}
.col-busqueda-centro .col-busqueda-solapas .solapa1{
background-image: url(imagenes/solapa1-busqueda.png);
}
.col-busqueda-centro .col-busqueda-solapas .solapa1 h2{
margin-left:15px;
color: #000000;
}
.col-busqueda-centro .col-busqueda-solapas .solapa2{
background-image: url(imagenes/solapa2-busqueda.png);
}
.col-busqueda-centro .col-busqueda-solapas .solapa2 h2{
margin-left:5px;
color: #000000;
}
.col-busqueda-centro .col-busqueda-solapas .solapa3{
background-image: url(imagenes/solapa3-busqueda.png);
}
.col-busqueda-centro .col-busqueda-solapas .solapa3 h2{
margin-left:20px;
color: #000000;
}
.col-busqueda-centro .col-busqueda-contenido{
height: 545px;
width: 542px;
border-left: 1px solid #95D9E9;
border-right: 1px solid #95D9E9;
overflow-x: hidden;
overflow-y: scroll;
}
.col-comentarios-centro .col-comentarios-contenido{
height: 545px;
width: 542px;
border-left: 1px solid #6CB4E4;
border-right: 1px solid #6CB4E4;
overflow-x: hidden;
overflow-y: scroll;
background-color: #F7EEDD;
}
.col-busqueda-centro .col-busqueda-pie{
background-image: url(imagenes/pie-buscar.png);
background-repeat: no-repeat;
height: 19px;
border-top: 1px solid #6CB4E4;
}
.col-comentarios-centro .col-comentarios-pie{
background-image: url(imagenes/pie-todos-comentarios.png);
background-repeat: no-repeat;
height: 19px;
border-top: 1px solid #6CB4E4;
}
.borde-comentario{
float: left;
overflow: hidden;
width: 545px;
}
.borde-comentario .dejar-comentario{
float: left;
overflow: hidden;
width: 505px;
height: 70px;
margin: 10px;
margin-bottom: 10px;
border: 2px solid #aaaaaa;
}
.dejar-comentario textarea{
float: left;
margin: 2px;
width: 400px;
height: 40px;
}
.dejar-comentario .boton1{
float: left;
overflow: hidden;
margin-top: 25px;
}
.borde-comentario .foto-comentario, .borde-empresa-oferta-completa .foto-oferta-laboral{
float: left;
overflow: hidden;
width: 64px;
height: 64px;
margin-top: 10px;
margin-left: 10px;
margin-bottom: 10px;
}
.borde-comentario .titulo-comentario, .borde-comentario .descripcion-comentario,
.borde-comentario .pie-comentario, .borde-empresa-oferta-completa .descripcion-empresa{
float: left;
overflow:hidden;
width: 440px;
margin-left: 10px;
}
.borde-comentario .titulo-comentario{
margin-top: 10px;
background-color:#aaaaaa;
height:20px;
}
.borde-comentario .descripcion-comentario{
margin-bottom: 10px;
height:auto;
}
.borde-comentario .pie-comentario{
width: 510px;
height: 10px;
border-top: 1px solid #aaaaaa;
}
.borde-comentario-chico{
float: left;
overflow: hidden;
width: 285px;
}
.col-empresa-centro .borde-comentario-chico{
float: left;
overflow: hidden;
width: 522px;
margin-top:5px;
}
.borde-comentario-chico .foto-comentario{
float: left;
overflow: hidden;
width: 64px;
height: 64px;
margin-top: 0px;
margin-left: 5px;
margin-bottom: 0px;
display: inline;
text-align: center;
}
.borde-comentario-chico .foto-comentario img,
.contenido-amigos .foto-comentario img,
.borde-comentario .foto-comentario img{
border: 2px solid #42A0D2;
}
.borde-comentario-chico .titulo-comentario, .borde-comentario-chico .descripcion-comentario,
.borde-comentario-chico .pie-comentario, .usuarios-destacados-col .descripcion-usuario,
.usuarios-destacados-col .pie-usuario,
.empresas-destacadas-col .descripcion-empresa, .empresas-destacadas-col .pie-empresa{
float: left;
overflow:hidden;
width: 210px;
margin-left: 2px;
}
.col-empresa-centro .borde-comentario-chico .titulo-comentario,
.col-empresa-centro .borde-comentario-chico .descripcion-comentario{
width: 450px;
}
.col-empresa-centro .borde-comentario-chico .pie-comentario{
width: 500px;
}
.borde-comentario-chico .titulo-comentario, .titulo-oferta-completa{
margin-top: 0px;
background-color:#0089D1;
height:20px;
}
.borde-comentario-chico .descripcion-comentario{
margin-bottom: 2px;
height:40px;
}
.usuarios-destacados-col .descripcion-usuario,
.empresas-destacadas-col .descripcion-empresa{
margin-bottom: 2px;
height:64px;
width: 140px;
}
.usuarios-destacados-col .pie-usuario, .empresas-destacadas-col .pie-empresa{
/*border-top:1px solid #0089D1;*/
height:3px;
width:200px;
}
.col-empresa-centro .borde-comentario-chico .descripcion-comentario{
margin-bottom: 2px;
height:55px;
}
.borde-comentario-chico .pie-comentario{
width: 268px;
height: 2px;
border-top: 1px solid #0089D1;
}
.contenido-oferta-completa, .pie-oferta-completa, .titulo-oferta-completa{
float: left;
overflow: hidden;
background-color: #ffffff;
width:545px;
height:auto;
}
.titulo-oferta-completa{
background-color: #0089D1;
}
.borde-empresa-oferta-completa{
background-color:#DDDDDD;
border: 1px solid #999999;
float:left;
overflow:hidden;
width:543px;
}
.col-centroizquierda .login-usuario, .col-centroizquierda .login-empresa{
float: right;
}
.col-centroizquierda .login-usuario{
margin-top: 28px;
}
.publicidad1{
float:left;
overflow:hidden;
margin-top: 10px;
}
.registro-incorrecto, .registro-verificado{
height: 359px;
background-image: url(imagenes/registro-incorrecto.png);
}
.contenido-cartel{
float: left;
overflow: hidden;
margin-top: 200px;
margin-left: 10px;
margin-right: 10px;
width: 520px;
}