/*BOTONES e INPUTs globales*/
.boton1{
width: 95px;
height: 22px;
background-image: url(imagenes/boton1.png);
border: 0;
}

.solapa-lateral{
width: 80px;
height: 80px;
border: 0;
overflow: hidden;
}
.solapa-lateral .extremo{
float: left;
width: 9px;
height: 80px;
background-image: url(imagenes/borde-solapa-lateral.png);
background-repeat: no-repeat;
border: 0;
}
.solapa-lateral .degrade{
border-top: 1px solid #cccccc;
border-bottom: 1px solid #cccccc;
float:left;
width: 71px;
height: 78px;
background-image: url(imagenes/degrade-solapa-lateral.png);
background-repeat: repeat-x;
}
/**/
/*clases para pantallas PROFESIONAL ------>*/
.col-profesional .superior-col, .col-profesional .profesional-col, 
.col-profesional .medio-col, .col-profesional .inferior-col,
.col-empresa .superior-col, .col-empresa .empresa-col, 
.col-empresa .medio-col, .col-empresa .inferior-col{
float: left;
overflow: hidden;
width: 212px;
}
.col-profesional table, .col-empresa table{
border-collapse:collapse;
border-spacing:0;
}
.col-profesional table th, .col-profesional table td,
.col-profesional table tr,
.col-empresa table th, .col-empresa table td,
.col-empresa table tr{
border-width:0;
height:20px;
margin:0;
padding:0;
text-align: right;
}
.col-profesional .superior-col, .col-empresa .superior-col{
height: 12px;
background-repeat: no-repeat;
margin-top: 15px;
}
.col-profesional .superior-col{
background-image: url(imagenes/superior-col-profesional.png);
}
.col-empresa .superior-col{
background-image: url(imagenes/superior-col-empresa.png);
}
.col-profesional .profesional-col, .col-empresa .empresa-col{
height: 354px;
width: 210px;
}
.col-profesional .profesional-col{
border-left: 1px solid #6cb4e4;
border-right: 1px solid #6cb4e4;
background-image: url(imagenes/degrade1-col-profesional.png);
background-repeat: repeat-x;
}
.col-empresa .empresa-col{
border-left: 1px solid #000000;
border-right: 1px solid #000000;
background-image: url(imagenes/degrade1-col-empresa.png);
background-repeat: repeat-x;
}
.profesional-col img, .empresa-col img{
margin: 18px;
}
.col-profesional .medio-col, .col-empresa .medio-col{
height: 264px;
width: 210px;
}
.col-profesional .medio-col{
background-image: url(imagenes/degrade2-col-profesional.png);
background-repeat: repeat-x;
border-left: 1px solid #6cb4e4;
border-right: 1px solid #6cb4e4;
}
.col-empresa .medio-col{
background-image: url(imagenes/degrade2-col-empresa.png);
background-repeat: repeat-x;
border-left: 1px solid #000000;
border-right: 1px solid #000000;
}
.col-profesional .inferior-col, .col-empresa .inferior-col{
height: 10px;
}
.col-profesional .inferior-col{
background-image: url(imagenes/inferior-col-profesional.png);
background-repeat: no-repeat;
}
.col-empresa .inferior-col{
background-image: url(imagenes/inferior-col-empresa.png);
background-repeat: no-repeat;
}

/**/
.col-profesional-centro .casilla-superior, .col-profesional-centro .casilla-inferior,
.col-empresa-centro .casilla-superior, .col-empresa-centro .casilla-inferior{
border: 1px solid #000000;
background-color: #dddddd;
float: left;
overflow: hidden;
width: 548px;
}
.col-profesional-centro .casilla-superior,
.col-empresa-centro .casilla-superior{
height: 321px;
margin-top: 15px;
}
.casilla-superior .borde-solapas, .casilla-superior .portfolio,
.casilla-superior .borde-botones-mensajes, .casilla-superior .contenido-mensajes,
.casilla-superior .borde-derecho, .casilla-superior .contenido-portfolio,
.casilla-superior .contenido-editar-perfil{
float: left;
overflow: hidden;
height: 321px;
}
.casilla-superior .borde-solapas{
width: 94px;
}
.solapa{
float: left;
width: 94px;
height: 80px;
background-image: url(imagenes/solapa-lateral.png);
background-repeat: no-repeat;
}
.solapa-empresa{
float: left;
width: 94px;
height: 80px;
background-image: url(imagenes/solapa-lateral-empresa.png);
background-repeat: no-repeat;
}
.casilla-superior .portfolio{
width: 460px;
}
.casilla-superior .borde-botones-mensajes{
width: 80px;
height: 319px;
background-color: #ffffff;
border-left: 1px solid #6db3e4;
border-right: 1px solid #6db3e4;
border-top: 1px solid #6db3e4;
border-bottom: 1px solid #6db3e4;
}
.casilla-superior .borde-botones-mensajes table{
margin-left: 5px;
margin-top: 0px;
}
.casilla-superior .borde-botones-mensajes .boton2{
width: 63px;
height: 22px;
background-image: url(imagenes/boton2.png);
background-repeat: no-repeat;
border: 0px;
background-color: transparent;
font-size: 10px;
font-weight: bold;
color: #0089D1;
}
.casilla-superior .contenido-mensajes, .casilla-superior .contenido-portfolio,
.casilla-superior .contenido-editar-perfil{
width: 360px;
height: 319px;
border-top: 1px solid #6db3e4;
border-bottom: 1px solid #6db3e4;
}
.casilla-superior .contenido-editar-perfil,
.casilla-superior .contenido-laborales{
width: 442px;
border-top: 1px solid #6db3e4;
border-bottom: 1px solid #6db3e4;
}
.casilla-superior .contenido-laborales{
height: 319px;
float: left;
overflow: hidden;
}
.contenido-mensajes .cabecera-escribir, .contenido-mensajes .datos-escribir,
.contenido-mensajes .mce-escribir, .contenido-mensajes .contenido-escribir,
.contenido-mensajes .enviar-escribir{
float: left;
overflow: hidden;
width: 359px;
}
.contenido-editar-perfil .salvar-perfil,.contenido-editar-perfil .form-editar-perfil,
.contenido-laborales .cabecera-oferta, .contenido-laborales .form-oferta,
.contenido-laborales .enviar-oferta, .contenido-laborales .ver-mis-ofertas,
.contenido-laborales .titulo-mi-oferta, .contenido-laborales .descripcion-mi-oferta{
float: left;
overflow: hidden;
width: 441px;
}
.contenido-portfolio .cabecera-portfolio, .contenido-portfolio .imagenes-portfolio,
.contenido-portfolio .recorrer-portfolio, .contenido-mensajes .lista-mensajes,
.contenido-mensajes .recorrer-mensajes{
float: left;
overflow: hidden;
width: 359px;
}
.contenido-mensajes .cabecera-escribir, .contenido-portfolio .cabecera-portfolio,
.contenido-editar-perfil .salvar-perfil, .contenido-laborales .cabecera-oferta,
.contenido-laborales .enviar-oferta{
height: 30px;
}
.contenido-laborales .cabecera-oferta{
background-image: url(imagenes/degrade1-subir-oferta.png);
background-repeat: repeat-x;
}
.contenido-laborales .cabecera-oferta h2{
color: #ffffff;
}
.contenido-laborales .form-oferta,
.contenido-laborales .ver-mis-ofertas{
height: 259px;
}
.contenido-laborales .form-oferta .table1{
height: 50px;
width: 440px;
}
.contenido-laborales .form-oferta .table1 .oeProfesionRequerida{
width: 150px;
}
.contenido-laborales .form-oferta .table1 .oeNivel{
width: 100px;
}
.contenido-laborales .form-oferta .table2{
height: 50px;
width: 440px;
}
.contenido-laborales .form-oferta .table2 .oeModalidad{
width: 100px;
}
.contenido-laborales .form-oferta .table2 .oePago{
width: 70px;
}
.contenido-laborales .form-oferta .table3{
height: 150px;
width: 440px;
}
.contenido-laborales .form-oferta .table3 .oeDetalle{
height: 50px;
width: 300px;
}
.contenido-laborales .form-oferta .table3 .oeCapacidad{
height: 50px;
width: 300px;
}
.contenido-laborales .enviar-oferta{
background-image: url(imagenes/degrade1-subir-oferta.png);
background-repeat: repeat-x;
}
.contenido-laborales .enviar-oferta .table4{
height: 30px;
width: 440px;
margin-top:-5px;
}
.contenido-laborales .enviar-oferta .table4 td{
width: 100px;
}
.contenido-laborales .enviar-oferta .table4 .oeFechaEntrega{
width: 70px;
}
.contenido-laborales .enviar-oferta .table4 .oePublicar{
width: 70px;
margin-left: 0px;
background: transparent;
width: 200px;
color: #ffffff;
font-size: 18px;
border: 0px;
}
.contenido-laborales .ver-mis-ofertas{
overflow-y: scroll;
overflow-x: hidden;
}
.contenido-laborales .titulo-mi-oferta{
height: 20px;
background-color: #aaaaaa;
width: 425px;
}
.contenido-laborales .descripcion-mi-oferta{
height: auto;
background-color: #ffffff;
border-bottom:1px solid #aaaaaa;
width: 425px;
}
.titulo-oferta-col, .descripcion-oferta-col, .pie-oferta-col{
width: 208px;
overflow: hidden;
border-left: 1px solid #42A0D2;
border-right: 1px solid #42A0D2;
}
.titulo-oferta-col{
height: 20px;
background-color: #0089D1;
}
.descripcion-oferta-col{
height: 55px;
background-color: #ffffff;
border-bottom:1px solid #aaaaaa;
}
.pie-oferta-col{
height: 20px;
background-color: #ffffff;
}
.contenido-portfolio .un-portfolio-mio,
.contenido-portfolio .un-portfolio-mio .imagen-portfolio,
.contenido-portfolio .un-portfolio-mio .pie-portfolio{
float: left;
overflow: hidden;
width: 100px;
}
.contenido-portfolio .un-portfolio-mio{
height: 120px;
width: 100px;
margin-top: 10px;
margin-left: 15px;
}
.contenido-portfolio .un-portfolio-mio .imagen-portfolio{
height: 98px;
width: 98px;
border: 1px solid #999999;
}
.contenido-portfolio .un-portfolio-mio .pie-portfolio{
height: 20px;
}
.contenido-mensajes .cabecera-escribir, .contenido-portfolio .cabecera-portfolio,
.contenido-editar-perfil .salvar-perfil{
background-color: #ffffff;
float: left;
overflow: hidden;
}
.contenido-editar-perfil .salvar-perfil{
background-color: #edf8fe;
}
.contenido-editar-perfil .salvar-perfil h2{
float: left;
width: 100px;
}
.contenido-editar-perfil .salvar-perfil .boton3{
float: left;
margin-left: 270px;
margin-top: 5px;
}
.contenido-editar-perfil .form-editar-perfil{
height: 289px;
background-color: #ffffff;
float:left;
}
.contenido-editar-perfil .form-editar-perfil tr, .contenido-editar-perfil .form-editar-perfil td{
height: 10px;
margin: 0px;
}
.contenido-editar-perfil .form-editar-perfil p{
margin: 0px;
}
.contenido-editar-perfil .form-editar-perfil .tabla1{
height: 60px;
width: 440px;
}
.contenido-editar-perfil .euNombres, .contenido-editar-perfil .euApellidos{
width:130px;
}
.contenido-editar-perfil .euNacimiento{
width:80px;
}
.contenido-editar-perfil .euEmail{
width:180px;
}
.contenido-editar-perfil .euSexo{
width:100px;
}
.contenido-editar-perfil .euPaisResidencia{
width:80px;
}
.contenido-editar-perfil .euEmpresa{
width:120px;
}
.contenido-editar-perfil .euProfesion{
width:120px;
}
.contenido-editar-perfil .euNivelProfesion{
width:80px;
}

.contenido-editar-perfil .form-editar-perfil .tabla2{
height: 110px;
width: 440px;
}
.contenido-editar-perfil .form-editar-perfil .tabla3{
height: 110px;
width: 440px;
}
.contenido-mensajes .cabecera-escribir table{
width: 350px;
height: 30px;
margin-left: 20px;
}
.contenido-mensajes .datos-escribir{
background-image: url(imagenes/degrade-datos-escribir.png);
background-repeat: repeat-x;
height: 50px;
border-top: 1px solid #d2d2d2;
border-bottom: 1px solid #d2d2d2;
border-right: 1px solid #d2d2d2;
}
.contenido-mensajes .datos-escribir table{
border-collapse:collapse;
border-spacing:0;
height: 50px;
width: 340px;
margin-left: 10px;
}
.contenido-mensajes .datos-escribir table th, .contenido-mensajes .datos-escribir table td,
.contenido-mensajes .datos-escribir table tr{
border-width:0;
height:20px;
margin:0;
padding:0;
text-align: right;
}
.contenido-mensajes .datos-escribir table .umPara .umEntidad,
.contenido-mensajes .datos-escribir table .umPara .emEntidad{
width: 140px;
}
.contenido-mensajes .datos-escribir .umAsunto,
.contenido-mensajes .datos-escribir .emAsunto{
width: 280px;
}
.contenido-mensajes .mce-escribir{
height: 25px;
background-color: #f4f4f4;
border-right: 1px solid #d2d2d2;
}
.contenido-mensajes .contenido-escribir{
height: 211px;
background-color: #ffffff;
border-right: 1px solid #d2d2d2;
}
.contenido-mensajes .contenido-escribir textarea{
height: 199px;
width: 354px;
}
.contenido-mensajes .enviar-escribir, .contenido-portfolio .recorrer-portfolio,
.contenido-mensajes .recorrer-mensajes, .contenido-mensajes .titulos-mensajes{
height: 25px;
background-image: url(imagenes/degrade-enviar-escribir.png);
background-repeat: repeat-x;
border-top: 1px solid #d2d2d2;
border-right: 1px solid #d2d2d2;
}
.contenido-mensajes .enviar-escribir table{
border-collapse:collapse;
border-spacing:0;
height: 25px;
width: 340px;
margin-left: 10px;
}
.contenido-mensajes .enviar-escribir table th, .contenido-mensajes .enviar-escribir table td,
.contenido-mensajes .enviar-escribir table tr{
border-width:0;
height:20px;
margin:0;
padding:0;
text-align: right;
}
.boton3{
width: 53px;
height: 17px;
background-image: url(imagenes/boton3.png);
background-repeat: no-repeat;
border: 0px;
background-color: transparent;
font-size: 10px;
font-weight: bold;
color: #0089D1;
}
.contenido-portfolio .imagenes-portfolio, .contenido-mensajes .lista-mensajes{
height: 262px;
background-color: #ffffff;
border-top: 1px solid #d2d2d2;
}
.contenido-mensajes .lista-mensajes table{
width: 359px;
}
.contenido-mensajes .lista-mensajes table td.usuario{
width: 100px;
}
.contenido-mensajes .lista-mensajes table td.asunto{
width: 200px;
}
.contenido-mensajes .lista-mensajes table td.fecha{
width: 59px;
}
.contenido-portfolio .recorrer-portfolio a{
text-decoration:none;
}

.casilla-superior .borde-derecho{
width: 12px;
background-image: url(imagenes/borde-derecho-casilla-superior.png);
background-repeat: no-repeat;
}
/*.col-profesional-centro .casilla-inferior*/
.col-profesional-centro .casilla-inferior, .col-empresa-centro .casilla-inferior{
height:308px;
margin-top: 10px;
}
.col-profesional-centro .casilla-inferior .extremo-izq, .col-profesional-centro .casilla-inferior .extremo-der,
.col-profesional-centro .casilla-inferior .superior-comentarios, .col-profesional-centro .casilla-inferior .contenido-comentarios,
.col-profesional-centro .casilla-inferior .inferior-comentarios, .col-profesional-centro .casilla-inferior .superior-amigos,
.col-profesional-centro .casilla-inferior .contenido-amigos, .col-profesional-centro .casilla-inferior .inferior-amigos,
.col-profesional-centro .casilla-inferior .borde-contenido,
.col-empresa-centro .casilla-inferior .extremo-izq, .col-empresa-centro .casilla-inferior .extremo-der,
.col-empresa-centro .casilla-inferior .superior-comentarios, .col-empresa-centro .casilla-inferior .contenido-comentarios,
.col-empresa-centro .casilla-inferior .inferior-comentarios, .col-empresa-centro .casilla-inferior .superior-amigos,
.col-empresa-centro .casilla-inferior .contenido-amigos, .col-empresa-centro .casilla-inferior .inferior-amigos,
.col-empresa-centro .casilla-inferior .borde-contenido{
float: left;
overflow: hidden;
height:308px;
}
.col-profesional-centro .casilla-inferior .extremo-izq, .col-profesional-centro .casilla-inferior .extremo-der,
.col-empresa-centro .casilla-inferior .extremo-izq, .col-empresa-centro .casilla-inferior .extremo-der{
width: 12px;
}
.col-profesional-centro .casilla-inferior .extremo-izq,
.col-empresa-centro .casilla-inferior .extremo-izq{
background-image: url(imagenes/borde-izquierdo-casilla-inferior.png);
background-repeat: no-repeat;
}
.col-profesional-centro .casilla-inferior .extremo-der,
.col-empresa-centro .casilla-inferior .extremo-der{
background-image: url(imagenes/borde-derecho-casilla-inferior.png);
background-repeat: no-repeat;
}
.col-profesional-centro .casilla-inferior .borde-contenido,
.col-empresa-centro .casilla-inferior .borde-contenido{
width: 524px;
background-color: #f7eedd;
height:306px;
border-top: 1px solid #6DB3E4;
border-bottom: 1px solid #6DB3E4;
}
.col-profesional-centro .casilla-inferior .superior-comentarios, .col-profesional-centro .casilla-inferior .contenido-comentarios,
.col-profesional-centro .casilla-inferior .inferior-comentarios,
.col-empresa-centro .casilla-inferior .superior-comentarios, .col-empresa-centro .casilla-inferior .contenido-comentarios,
.col-empresa-centro .casilla-inferior .inferior-comentarios{
border-right: 1px solid #0089d1;
width: 293px;
}
.col-profesional-centro .casilla-inferior .superior-comentarios p, .col-profesional-centro .casilla-inferior .superior-amigos p,
.col-empresa-centro .casilla-inferior .superior-comentarios p, .col-empresa-centro .casilla-inferior .superior-amigos p{
width: 235px;
height: 30px;
background-color: #0089d1;
font-size: 22px;
color: #ffffff;
margin-top: 10px;
padding-left: 50px;
padding-top: 2px;
}
.col-profesional-centro .casilla-inferior .superior-amigos p,
.col-empresa-centro .casilla-inferior .superior-amigos p{
width: 180px;
margin-left: 10px;
}
.col-profesional-centro .casilla-inferior .inferior-comentarios .buscar-amigos,
.col-empresa-centro .casilla-inferior .inferior-comentarios .buscar-amigos{
float: left;
overflow: hidden;
height: 78px;
}
.col-profesional-centro .casilla-inferior .inferior-comentarios .buscar-amigos-izq,
.col-profesional-centro .casilla-inferior .inferior-comentarios .buscar-amigos-der,
.col-profesional-centro .casilla-inferior .inferior-comentarios .buscar-amigos-cont,
.col-empresa-centro .casilla-inferior .inferior-comentarios .buscar-amigos-izq,
.col-empresa-centro .casilla-inferior .inferior-comentarios .buscar-amigos-der,
.col-empresa-centro .casilla-inferior .inferior-comentarios .buscar-amigos-cont{
float: left;
overflow: hidden;
height: 78px;
}
.col-profesional-centro .casilla-inferior .inferior-comentarios .buscar-amigos-izq,
.col-empresa-centro .casilla-inferior .inferior-comentarios .buscar-amigos-izq{
width: 8px;
background-image: url(imagenes/borde-izquierdo-buscar-amigos-inferior.png);
background-repeat: no-repeat;
}
.col-profesional-centro .casilla-inferior .inferior-comentarios .buscar-amigos-cont,
.col-empresa-centro .casilla-inferior .inferior-comentarios .buscar-amigos-cont{
height: 76px;
width: 270px;
background-image: url(imagenes/degrade-buscar-amigos-inferior.png);
background-repeat: repeat-x;
border-top: 1px solid #d2d2d2;
border-bottom: 1px solid #d2d2d2;
}
.col-profesional-centro .casilla-inferior .inferior-comentarios .buscar-amigos-der,
.col-empresa-centro .casilla-inferior .inferior-comentarios .buscar-amigos-der{
width: 8px;
background-image: url(imagenes/borde-derecho-buscar-amigos-inferior.png);
background-repeat: no-repeat;
}
.col-profesional-centro .casilla-inferior .contenido-comentarios, .col-profesional-centro .casilla-inferior .contenido-amigos,
.col-empresa-centro .casilla-inferior .contenido-comentarios, .col-empresa-centro .casilla-inferior .contenido-amigos{
float: left;
overflow: hidden;
height: 160px;
}
.col-profesional-centro .casilla-inferior .superior-amigos, .col-profesional-centro .casilla-inferior .contenido-amigos,
.col-profesional-centro .casilla-inferior .inferior-amigos,
.col-empresa-centro .casilla-inferior .superior-amigos, .col-empresa-centro .casilla-inferior .contenido-amigos,
.col-empresa-centro .casilla-inferior .inferior-amigos{
width: 230px;
}
.col-profesional-centro .casilla-inferior .superior-comentarios, .col-profesional-centro .casilla-inferior .superior-amigos,
.col-empresa-centro .casilla-inferior .superior-comentarios, .col-empresa-centro .casilla-inferior .superior-amigos{
height: 50px;
}
.col-profesional-centro .casilla-inferior .inferior-comentarios, .col-profesional-centro .casilla-inferior .inferior-amigos,
.col-empresa-centro .casilla-inferior .inferior-comentarios, .col-empresa-centro .casilla-inferior .inferior-amigos{
height: 96px;
}
/*<-------*/
/**/
.col-profesional-derecha .superior-col,
.col-profesional-derecha .publicidad-col, .col-profesional-derecha .inferior-col{
border: 1px solid #000000;
background-color: #dddddd;
float: left;
overflow: hidden;
width: 220px;
}
.col-profesional-derecha .superior-col{
height: 50px;
}
.clasificados-col{
border: 1px solid #000000;
background-color: #ffffff;
float: left;
overflow: hidden;
width: 210px;
height: 590px;
}
.clasificados-col .cabecera, .clasificados-col .superior,
.clasificados-col .contenido, .clasificados-col .inferior{
float: left;
overflow: hidden;
width: 210px;
}
.clasificados-col .cabecera{
height: 72px;
background-image: url(imagenes/cabecera-clasificados.png);
background-repeat: no-repeat;
}
.clasificados-col .superior{
height: 0px;
}
.clasificados-col .contenido{
height: 510px;
}
.clasificados-col .inferior{
height: 9px;
background-image: url(imagenes/inferior-clasificados.png);
background-repeat: no-repeat;
}

.publicidad-col{
height: 200px;
}
.col-profesional-derecha .inferior-col{
height: 50px;
}
/**/
/*CLASES PARA HOME ----->*/
.col-centroizquierda .col-contenido-home{
border: 1px solid #000000;
float: left;
overflow: hidden;
width: 759px;
height:  202px;
background-image: url(imagenes/contenido-home-superior.jpg);
background-repeat: no-repeat;
}
.col-centroizquierda .col-registrarse{
border: 1px solid #000000;
background-color: #dddddd;
float: left;
overflow: hidden;
width: 287px;
}
.form-registrarse-usuarios{
border: 1px solid #000000;
float: left;
overflow: hidden;
height: 356px;
width: 285px;
}
.form-registrarse-usuarios .superior, .form-registrarse-usuarios .medio,
.form-registrarse-usuarios .formulario, .form-registrarse-usuarios .inferior{
float: left;
overflow: hidden;
width: 285px;
}
.form-registrarse-usuarios .superior{
height: 39px;
}
.form-registrarse-usuarios .inferior{
height: 20px;
background-image: url(imagenes/inferior-reg-usuarios.png);
background-repeat: no-repeat;
}
.form-registrarse-usuarios .solapa-empresas{
float: left;
overflow: hidden;
width: 141px;
height: 39px;
background-image: url(imagenes/solapa-reg-empresas.png);
background-repeat: no-repeat;
}

.form-registrarse-usuarios .solapa-usuarios{
float: left;
overflow: hidden;
width: 144px;
height: 39px;
background-image: url(imagenes/solapa-reg-usuarios.png);
background-repeat: no-repeat;
}
.form-registrarse-usuarios .medio{
height: 130px;
background-image: url(imagenes/arte-reg-profesionales.jpg);
background-repeat: no-repeat;
}
.form-registrarse-usuarios .formulario{
height: 178px;
width: 283px;
background-color: #6cb4e4;
border-left: 1px solid #46a1d6;
border-right: 1px solid #46a1d6;
}
.usuarios-destacados-col{
border: 1px solid #000000;
background-color: #ffffff;
float: left;
overflow: hidden;
width: 210px;
height: 372px;
}
.usuarios-destacados-col .cabecera, .usuarios-destacados-col .superior,
.usuarios-destacados-col .contenido, .usuarios-destacados-col .inferior{
float: left;
overflow: hidden;
width: 210px;
}
.usuarios-destacados-col .cabecera{
height: 16px;
background-image: url(imagenes/cabecera-usuarios-destacados.png);
background-repeat: no-repeat;
}
.usuarios-destacados-col .superior{
height: 52px;
background-image: url(imagenes/superior-usuarios-destacados.png);
background-repeat: no-repeat;
}
.usuarios-destacados-col .inferior{
height: 7px;
background-image: url(imagenes/inferior-usuarios-destacados.png);
background-repeat: no-repeat;
}
.usuarios-destacados-col .contenido{
height: 297px;
border-left: 1px solid #95D9E9;
border-right: 1px solid #95D9E9;
width: 208px;
}
.ultimo-momento-col{
border: 1px solid #000000;
background-color: #ffffff;
float: left;
overflow: hidden;
width: 210px;
height: 372px;
}
.ultimo-momento-col .superior, .ultimo-momento-col .contenido,
.ultimo-momento-col .inferior{
border: 1px solid #000000;
background-color: #ffffff;
float: left;
overflow: hidden;
width: 200px;
}
.ultimo-momento-col .superior{
height:50px;
background-image: url(imagenes/superior-ultimo-momento-col.png);
background-repeat: no-repeat;
}
.ultimo-momento-col .contenido{
background-image: url(imagenes/contenido-ultimo-momento-col.png);
background-repeat: no-repeat;
height:50px;
}
.ultimo-momento-col .inferior{
background-image: url(imagenes/inferior-ultimo-momento-col.png);
background-repeat: no-repeat;
height:50px;
}
/*CLASS para DEBE LOGUEARSE ---->*/
.debe-loguearse{
border: 1px solid #000000;
background-color: #ffffff;
float: left;
overflow: hidden;
background-image: url(imagenes/debe-loguearse.jpg);
background-repeat: no-repeat;
height:223px;
width: 547px;
}
/*<----*/
/*CLASS para DATOS DE LOGIN INCORRECTOS ---->*/
.datos-login-incorrectos{
border: 1px solid #000000;
background-color: #ffffff;
float: left;
overflow: hidden;
background-image: url(imagenes/datos-incorrectos.jpg);
background-repeat: no-repeat;
height:223px;
width: 547px;
}
/*<----*/
/*CLASS para JQUERY.FANCYZOOM ---->*/
.imagenes-portfolio html, .imagenes-portfolio body {
	font: normal 11px Tahoma;
	color: #333;
}
.imagenes-portfolio a {
	outline: none;	
}
.imagenes-portfolio div#wrap {
	width: 500px;
	margin: 50px auto;	
}
.imagenes-portfolio img{
	border: 1px solid #CCC;
	padding: 2px;	
	margin: 10px 5px 10px 0;
}
/*<----*/
.col-busqueda-izquierda, .col-busqueda-centro,
.col-busqueda-derecha{
float: left;
overflow: hidden;
border: 1px solid #000000;
}