@charset "utf-8";
/* CSS Document */
body {
	margin:0;
	padding:0;
	font-family:"Trebuchet MS";
	font-size:12px;
	background-color:#cccccc;
}
#wrap {
	width:970px;
	height: 700px;
	margin:0 auto 0;
	border: 1px solid white;
	overflow: hidden;
	position: relative;
	z-index: 0;
	background-color:#aaaaaa;
}
#main-container {
	float: left;
	width:970px;
	height: 600px;
	margin: 0;
	margin-top: 50px;
	border: 1px solid white;
	overflow: hidden;
	position: relative;
	z-index: 0;
	margin-bottom: 50px;
	background-color:#000000;
	overflow: hidden;
}
#main-container #logo-intro{
	margin-top: 230px;
	margin-left: 260px;
	position: absolute;
	z-index: 2;
	float: left;
}
#main-container .foto_intro_1, #main-container .foto_intro_2,
#main-container .foto_intro_3, #main-container .foto_intro_4,
#main-container .foto_intro_1_2, #main-container .foto_intro_2_2,
#main-container .foto_intro_3_2, #main-container .foto_intro_4_2
{
	width:	300px;
	height: 225px;
	position: absolute;
	float: left;
}

/* Imágenes primeras de INTRO con z-index: 1; */
#main-container .imgs_intro_1{
	position:absolute;
	z-index: 1;
	opacity: 1.0;
}
#main-container .foto_intro_1{
	margin-top: 70px;
	margin-left: 130px;
}
#main-container .foto_intro_2{
	margin-top: 70px;
	margin-left: 520px;
}
#main-container .foto_intro_3{
	margin-top: 320px;
	margin-left: 130px;
}
#main-container .foto_intro_4{
	margin-top: 320px;
	margin-left: 520px;
}

/* Imágenes segundas de INTRO con z-index: 0; */
#main-container .imgs_intro_2{
	position:absolute;
	z-index: 0;
	opacity: 1.0;
}
#main-container .foto_intro_1_2{
	margin-top: 70px;
	margin-left: 130px;
}
#main-container .foto_intro_2_2{
	margin-top: 70px;
	margin-left: 520px;
}
#main-container .foto_intro_3_2{
	margin-top: 320px;
	margin-left: 130px;
}
#main-container .foto_intro_4_2{
	margin-top: 320px;
	margin-left: 520px;
}