.item1 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #999999;
	vertical-align: middle;
	text-align: center;
	text-decoration: none;
	border-bottom-color: #999999;
	font-weight: bold;
}
.itemover1 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #61002b;
	vertical-align: middle;
	text-align: center;
	text-decoration: none;
	border-bottom-color: #990000;
}
.item2 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #61002b;
	vertical-align: middle;
	font-weight: bold;
}
.item3 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;
	color: #820003;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
	vertical-align: top;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: solid;
	border-left-style: none;
	border-bottom-color: #C17B81;	
	padding-right: 3px;
}
.linea {
	
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #C17B81;	
	padding-right: 3px;
	padding-top: 3px;
	padding-bottom: 4px;
}
.linea2 {
	
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #CCCCCC;	
	padding-right: 3px;
	padding-top: 1px;
	padding-bottom: 1px;
}
.textosrojos {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;
	color: #AE0409;
	text-decoration: none;
}
.item4 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;
	color: #AE0409;
	padding-left: 15px;
	text-decoration: none;
	background-attachment: fixed;
	background-image: url(images/flechaitemmunozover2.gif);
	background-repeat: no-repeat;
}
.item4:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;
	color: #000000;
	padding-left: 15px;
	padding-right: 3px;
	text-decoration: none;
	background-attachment: fixed;
	background-image: url(images/flechaitemmunozover.gif);
	background-repeat: no-repeat;
}
.flechita {
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: none;
	border-bottom-style: solid;
	border-left-style: none;
	border-top-color: #FFFFFF;
	border-right-color: #FFFFFF;
	border-bottom-color: #FFFFFF;
	border-left-color: #FFFFFF;
	vertical-align: top;
	padding-top: 6px;
}
.fondologo {
	background-attachment: fixed;
	background-image: url(images/logofondo.gif);
	background-repeat: no-repeat;
	background-position: right bottom;
	border-bottom-width: 6px;
	border-bottom-style: solid;
	border-bottom-color: #61002b;
}
.titulos {
	font-family: Bliss-Regular;
	font-size: 18px;
	color: #820003;
	border: 0px dotted #000000;
	padding-top: 5px;
}
.titulos2 {
	font-family: Bliss-Regular;
	font-size: 16px;
	color: #333333;
	border: 0px dotted #000000;
	padding-top: 5px;
}
.textocontenido {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #333333;
	padding-bottom: 10px;
	padding-left: 5px;
	text-align: justify;
	vertical-align: top;
	border-bottom-color: #61002b;
	padding-right: 0px;
	font-weight: normal;
}
.textoimpacto {
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #CCCCCC;
}
.itemover3 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;
	color: #000000;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
	vertical-align: top;
	border-right-width: 1px;
	border-right-style: none;
	border-top-style: none;
	border-bottom-style: solid;
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-left-style: none;
	border-top-color: #999999;
	border-right-color: #999999;
	border-bottom-color: #61002b;
	border-left-color: #999999;
	padding-right: 3px;
}
.espacio {
	padding-right: 5px;
	padding-left: 5px;
	border-right-width: 0px;
	border-left-width: 1px;
	border-top-color: #A80000;
	border-right-color: #CCCCCC;
	border-bottom-color: #A80000;
	border-left-color: #FFFFFF;
	border-bottom-width: 8px;
}
.rectangulo {
	cursor: hand;
	border-top: 1px solid #FFFFFF;
	border-right: 1px none #FFFFFF;
	border-bottom: 1px solid #FFFFFF;
	border-left: 1px solid #FFFFFF;
}
.rectanguloover {
	cursor: hand;
	border-top: 1px solid #999999;
	border-right: 1px none #999999;
	border-bottom: 1px solid #999999;
	border-left: 1px solid #999999;
}
.flechitaover {
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: none;
	border-bottom-style: solid;
	border-left-style: none;
	border-top-color: #999999;
	border-right-color: #999999;
	border-bottom-color: #999999;
	border-left-color: #999999;
	vertical-align: top;
	padding-top: 8px;
}

.fondo {
	background-color: #0000CC;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-top-color: #000000;
	border-right-color: #000000;
	border-bottom-color: #000000;
	border-left-color: #000000;
}
.cursor {
	cursor: hand;
}
.logo {
	background-image: url(images/logofondo.gif);
	background-repeat: no-repeat;
	background-position: right bottom;
}
