#slider{}	


#slider ul, #slider li{
	margin:0;
	padding:0;
	list-style:none;
}
	
#slider li{ 
	width:828px;
	height:258px;
	overflow:hidden; 
}

#prevBtn, #nextBtn{ 
	display:block;
	width:36px;
	height:37px;
	position:absolute;
	margin:-40px 0 0 342px;
}	

#nextBtn{ 
	margin:-40px 0 0 449px;
}														

#prevBtn a, #nextBtn a{  
	display:block;
	width:36px;
	height:37px;
	background:url(../img/slider/left.png) no-repeat 0 0;	
}	

#nextBtn a{ 
	background:url(../img/slider/right.png) no-repeat 0 0;	
}	






#midBtn {  
	display:block;
	width:36px;
	height:37px;
	position:absolute;
	margin:218px 0 0 396px;	
	background:url(../img/slider/center.png) no-repeat 0 0;		
}	

.glass {
	height:64px; 
	width:828px;
	background-color:#fff; 
	position:absolute; 
	margin:173px 0 0 0;	
	zoom:1; 
	filter: alpha(opacity=34); 
	opacity: 0.34;
}

.glassText {
	height:64px; 
	width:828px;
	position:absolute; 
	margin:186px 0 0 80px;
	font-weight:bold;
}

.glassText span {
	font-size:27px;
	color:#fff;
}