RewriteEngine On
Options +FollowSymLinks
Options -Indexes
DirectoryIndex index.php
RewriteBase /
#INDEX:
RewriteRule ^/(.)$ /index.php [R]
#RewriteRule ^/(.*)$ /index.php [R]
#PROFESIONAL:
RewriteRule ^profesional/([a-zA-Z0-9_-]+)$ /profesional/$1/	[R]	#Renombra un directorio "...../pepe" por "...../pepe/"
RewriteCond %{REQUEST_URI} !.*\.(js|php|jpg|png) [NC]		#Evita que al requerir una extension ".php" o ".js" se la tome como PRORESIONAL
RewriteRule ^profesional/([a-zA-Z0-9_-]+)/ /u-galeria.php?entidad_visitada=$1
#EMPRESA:
RewriteRule ^empresa/([a-zA-Z0-9_-]+)$ /empresa/$1/	[R]	#Renombra un directorio "...../pepe" por "...../pepe/"
RewriteCond %{REQUEST_URI} !.*\.(js|php|jpg|png) [NC]		#Evita que al requerir una extension ".php" o ".js" se la tome como EMPRESA
RewriteRule ^empresa/([a-zA-Z0-9_-]+)/ /e-galeria.php?entidad_visitada=$1 [L]