/*******************************/
/*FORMULARIOS DE REGISTRO*/
/*******************************/
/*FORMULARIOS DE REGISTRO EN HOME*/
form.registro p, .registrar-empresa p{
margin: 0px;
}
.tabla-registrar{
border-collapse: collapse;
border-spacing: 0px;
margin-top: 10px;
margin-left: 0;
height: 170px;
width: 280px;
table-layout: fixed;
}
.tabla-registrar td, .tabla-registrar th, .tabla-registrar tr {
text-align: right;
margin: 0px;
padding-top: 0px;
padding-left: 0px;
padding-right: 0px;
padding-bottom: 0px;
/*border: 1px solid black;*/
border-width: 0px;
margin: 0;
/*color: #ffffff;*/
height: 20px;
}
.tabla-registrar th{
width: 80px;
color: #ffffff;
}
.tabla-registrar td{
/*width: 190px;*/
}
.tabla-registrar .td-boton1{
text-align: center;
}
.tabla-registrar-text{
width:160px;
height:16px;
margin-right: 10px;
}

/*FORMULARIOS DE REGISTRO EN PAGINAS DE REGISTRO*/
.registrar-empresa{
border: 1px solid black;
background-color: #ffffff;
float: left;
overflow: hidden;
width: 545px;
height: auto;
/*background-image: url('imagenes/borde-reg-empresa.png');*/
background-repeat: no-repeat;
}
.registrar-empresa .superior-reg-empresa, .registrar-empresa .superior-form1,
.registrar-empresa .form1-reg-empresa, .registrar-empresa .superior-form2,
.registrar-empresa .form2-reg-empresa, .registrar-empresa .inferior-form2,
.registrar-empresa .form3-reg-empresa, .registrar-empresa .contenedor-advertencias,
.registrar-empresa .enviar-reg, .registrar-empresa .inferior-reg-empresa{
background-color: #ffffff;
float: left;
overflow: hidden;
width: 545px;
}
.registrar-empresa .superior-reg-empresa{
height: 26px;
}
.superior-reg-empresa .cabeza-munieco, .registrar-empresa .solapa-empresa,
.registrar-empresa .solapa-profesional{
border: 0;
background-color: #ffffff;
float: left;
overflow: hidden;
height: 26px;
}
.superior-reg-empresa .cabeza-munieco{
background-image: url('imagenes/cabeza-munieco.png');
background-repeat: no-repeat;
width: 163px;
height: 26px;
margin-left: 63px;
}
.registrar-empresa .solapa-empresa{
/*background-image: url('imagenes/solapa-reg-empresa.png');
background-repeat: no-repeat;*/
width: 121px;
margin-top: 2px;
}
.registrar-empresa .solapa-profesional{
/*background-image: url('imagenes/solapa-reg-profesional.png');
background-repeat: no-repeat;*/
width: 123px;
margin-top: 2px;
}
.registrar-empresa .superior-form1, .registrar-empresa .superior-form2,
.registrar-empresa .inferior-form2, .registrar-empresa .inferior-reg-empresa{
height: 7px;
}
.registrar-empresa .superior-form1{
background-image: url('imagenes/superior-form1-empresa.png');
background-repeat: no-repeat;
}
.registrar-empresa .superior-form2{
background-image: url('imagenes/superior-form2-empresa.png');
background-repeat: no-repeat;
height: 5px;
}
.registrar-empresa .inferior-form2{
background-image: url('imagenes/inferior-form2-empresa.png');
background-repeat: no-repeat;
height: 5px;
}
.registrar-empresa .inferior-reg-empresa{
background-image: url('imagenes/inferior-reg-empresa.png');
background-repeat: no-repeat;
}
.borde-reg-usuario .pie-reg-usuario{
background-image: url('imagenes/inferior-reg-usuario.png');
background-repeat: no-repeat;
height: 8px;
border: 0px;
}
.registrar-empresa .form1-reg-empresa{
background-image: url('imagenes/form1-reg-empresa.jpg');
background-repeat: no-repeat;
height: 132px;
}
.registrar-empresa .form2-reg-empresa{
height: 210px;
background-color: #67686a;
}
.registrar-empresa .form3-reg-empresa{
height: 120px;
width: 541px;
border-right: 2px solid #67686a;
border-left: 2px solid #67686a;
}
.registrar-empresa .contenedor-advertencias{
height: auto;
width: 541px;
border-right: 2px solid #67686a;
border-left: 2px solid #67686a;
}
.borde-reg-usuario .contenedor-advertencias{
border-left:2px solid #67686A;
border-right:2px solid #67686A;
height:auto;
width:541px;
}
.registrar-empresa .enviar-reg{
height: 30px;
width: 541px;
border-right: 2px solid #67686a;
border-left: 2px solid #67686a;
}
.borde-reg-usuario .enviar-reg{
border-left:2px solid #67686A;
border-right:2px solid #67686A;
height:30px;
width:541px;
}
.form2-reg-empresa #feRazonSocial{
width: 100px;
}
.form2-reg-empresa #feCalle{
width: 180px;
}
.form2-reg-empresa #feAltura{
width: 50px;
}
.form2-reg-empresa #fePiso{
width: 40px;
}
.form2-reg-empresa #feOficina{
width: 40px;
}
.form1-reg-empresa, .form2-reg-empresa, .form3-reg-empresa{
font-size:12px;
}
.tabla-registro-3{
border-collapse: collapse;
border-spacing: 0px;
margin-top: 4px;
margin-left: 20px;
height: 25px;
width: 490px;
}
.form2-reg-empresa #feNacimientoUsuario{
width: 80px;
}
.form2-reg-empresa #feEmailUsuario{
width: 180px;
}
.form2-reg-empresa #feSexoUsuario{
width: 80px;
}
.form2-reg-empresa #fePais{
width: 100px;
}
.tabla-registro-4{
border-collapse: collapse;
border-spacing: 0px;
margin-top: 4px;
margin-left: 20px;
height: 25px;
width: 490px;
}
.form2-reg-empresa #feCiudad{
width: 120px;
}
.form2-reg-empresa #fePuestoUsuario{
width: 120px;
}
.form2-reg-empresa #fePrefijoUsuario{
width: 120px;
}
.form2-reg-empresa #feTelUsuario{
width: 200px;
}

/*******/
/* LOS ESTILOS DE EMPRESA DEBEN DISPENSARSE DESDE AQUI ----> */
.interior-reg-empresa{
border: 1px solid black;
margin-left: 2px;
margin-top: 165px;
background-color: #ffffff;
float: left;
overflow: hidden;
width: 541px;
height: 300px;
/*background-image: url('imagenes/interior-reg-empresa.png');*/
background-repeat: no-repeat;
}
/* <---- HASTA AQUI ---------------------------------------- */
/*******/

.borde-reg-usuario{
border: 0;
background-color: #ffffff;
float: left;
overflow: hidden;
width: 545px;
height: auto;
background-image: url('imagenes/borde-reg-usuario.png');
background-repeat: no-repeat;
}
.superior-reg-usuario{
border: 0;
margin-left: 0px;
margin-top: 0px;
float: left;
overflow: hidden;
width: 541px;
height: 164px;
}
.interior-reg-usuario{
border: 0;
margin-left: 0px;
margin-top: 0px;
float: left;
overflow: hidden;
width: 541px;
height: 220px;
background-color: #0081c5;
border-left: 2px solid #0081c5;
border-right: 2px solid #0081c5;
background-image: url('imagenes/interior-reg-usuario.png');
background-repeat: no-repeat;
}
.inferior-reg-usuario{
border: 0;
margin-left: 0px;
margin-top: 0px;
float: left;
overflow: hidden;
width: 541px;
height: 125px;
background-color: #ffffff;
border-left: 2px solid #0081c5;
border-right: 2px solid #0081c5;
}
/*FORMULARIO DE REGISTRO DE USUARIO*/
.superior-reg-usuario .usuario, .form1-reg-empresa .usuario{
float: left;
width: 149px;
height: 35px;
margin-top: 5px;
position: absolute;
margin-left: 230px;
color: #0081c5;
}
.superior-reg-usuario .contrasenia, .form1-reg-empresa .contrasenia{
float: left;
width: 149px;
height: 35px;
margin-top: 48px;
position: absolute;
margin-left: 230px;
color: #0081c5;
}
.superior-reg-usuario .repetir-contrasenia, .form1-reg-empresa .repetir-contrasenia{
float: left;
width: 149px;
height: 35px;
margin-top: 48px;
position: absolute;
margin-left: 390px;
color: #0081c5;
}
.superior-reg-usuario .pregunta-secreta, .form1-reg-empresa .pregunta-secreta{
float: left;
width: 149px;
height: 35px;
margin-top: 88px;
position: absolute;
margin-left: 230px;
color: #0081c5;
}
.superior-reg-usuario .respuesta, .form1-reg-empresa .respuesta{
float: left;
width: 149px;
height: 35px;
margin-top: 88px;
position: absolute;
margin-left: 390px;
color: #0081c5;
}
.superior-reg-usuario input, .form1-reg-empresa input{
/*height: 18px;*/
width: 140px;
/*border: 0px;*/
padding: 0px;
margin: 2px;
}
.superior-reg-usuario p, .form-reg-empresa p{
font-size: 12px;
}
.tabla-registro-2{
border-collapse: collapse;
border-spacing: 0px;
margin-top: 10px;
margin-left: 20px;
height: 25px;
width: 490px;
}
.tabla-registro-2 td, .tabla-registro-2 th, .tabla-registro-2 tr,
.tabla-registro-3 td, .tabla-registro-3 th, .tabla-registro-3 tr,
.tabla-registro-4 td, .tabla-registro-4 th, .tabla-registro-4 tr {
text-align: left;
margin: 0px;
padding-top: 0px;
padding-left: 0px;
padding-right: 15px;
padding-bottom: 0px;
/*border: 1px solid black;*/
border-width: 0px;
margin: 0;
color: #ffffff;
}
/*Estilos para las ultimas 3 filas de inputs --->*/
.tabla-registro-2 input, .tabla-registro-3 input, .tabla-registro-4 input{
/*border: 0px;*/
/*height: 24px;*/
}
/*<---*/
.tabla-registro-2 #fuNombres{
width: 150px;
}
.tabla-registro-2 #fuApellidos{
width: 180px;
}
.tabla-registro-2 #fuNacimiento{
width: 80px;
}
.tabla-registro-2, .tabla-registro-3, .tabla-registro-4{
font-size:10px;
}
.tabla-registro-3{
border-collapse: collapse;
border-spacing: 0px;
margin-top: 4px;
margin-left: 20px;
height: 25px;
width: 490px;
}
.tabla-registro-3 #fuEmpresa{
width: 100px;
}
.tabla-registro-3 #fuEmail{
width: 180px;
}
.tabla-registro-3 #fuSexo{
width: 80px;
}
.tabla-registro-3 #fuPaisResidencia{
width: 80px;
}
.tabla-registro-4{
border-collapse: collapse;
border-spacing: 0px;
margin-top: 4px;
margin-left: 20px;
height: 25px;
width: 490px;
}
.tabla-registro-4 #fuProfesion1{
width: 120px;
}
.tabla-registro-4 #fuProfesion2{
width: 120px;
}
.tabla-registro-4 #fuProfesion3{
width: 120px;
}
.tabla-registro-4 #fuNivelProfesion{
width: 100px;
}
/*CheckBoxes...*/
input#fuDeseaNews, input#feDeseaNews{
padding: 0px;
margin-top: 15px;
margin-left: 15px;
}
input#fuDeseaLaborales, input#fuAceptoTerminos , input#fuDeseaProfesionales, img#fuGeneraImg,
input#feDeseaLaborales, input#feAceptoTerminos , input#feDeseaProfesionales, img#feGeneraImg{
padding: 0px;
margin-left: 15px;
}
img#fuGeneraImg, img#feGeneraImg{
margin-top: 5px;
margin-right: 5px;
}
input#fuSeguridad, input#feSeguridad{
margin-left: 5px;
}
/******DINAMISMO CON VALIDACION*******/
#registrarForm label.error {
	margin-left: 0; /*10px; - Ha sido quitado porque corria las CASILLAS de lugar */
	width: auto;
	display: inline;
	color: #FF0000;
}
em.error {							/*Estilo dinamico para el elemento de error*/
  /*background:url("jquery-validate/images/unchecked.gif") no-repeat 0px 0px;*/
  padding-left: 16px;
}
em.success {						/*Estilo dinámico para el elemento de error cuando APRUEBA las REGLAS*/
  /*background:url("jquery-validate/images/checked.gif") no-repeat 0px 0px;*/
  padding-left: 16px;
}

form.registro label.error {
	margin-left: auto;
	width: 250px;
	font-size: 10px;
	color: red;
}
em.error {
color: red;
}
em.success {
color: blue;
}
input.error, select.error{
background-color: #FFccbb;
}
#warning {
display: none;
}
/*********************************/
