@charset "utf-8";
@import "header-style.css";
@import "formularios-login.css";	/*Estilo para los formularios de login*/
@import "formularios-registro.css";	/*Estilo para los formularios de registro*/
@import "varios.css";
/* CSS Document */
/*TEXTOS Y LINEAS GLOBALES*/
body {
	font-size: 12px;
	font-family: "Trebuchet MS", Arial, Helvetica;
	background-color: #ffffff;
	text-align: left;
	margin: 0px;
	min-width: 500px;
}
p, p.parrafo6, .parrafo12{
font-size: 10px;
margin-top: 1px;
margin-bottom:1px;
}
p.parrafo6, p.parrafo9{
color: #0089D1;
}
p.al-medio{
text-align: center;
padding: 3px;
}
p.parrafo3, p.parrafo11, p.parrafo5, p.parrafo7{
font-size: 12px;
font-weight: bold;
color: #0089D1;
}
p.parrafo8{
font-size: 12px;
font-weight: bold;
}
p.parrafo4{
font-size: 10px;
font-weight: bold;
color: #0089D1;
}
p.parrafo5{
border-bottom: 2px solid #0089D1;
}
p.parrafo7, p.parrafo10, p.parrafo11, .parrafo12{
color: #ffffff;
}
p.parrafo9, p.parrafo10{
font-size: 14px;
font-weight: bold;
}
h1{
font-size: 24px;
float: left;
}
h2{
font-size: 18px;
color: #42A0D2;
margin: 3px;
float:left;
}
li{
list-style: none;
}
.texto-chico{
font-size: 10px;
padding: 0;
margin: 0;
font-weight: bold;
}
.linea-1{
position: auto;
height:1px;
border-width:0;
color: #ffffff;
background-color: #ffffff;
margin-top: 10px;
margin-bottom: 0px;
margin-left: 20px;
margin-right: 20px;
}
.linea-2{
position: auto;
height:1px;
border-width:0;
color: #6CB4E4;
background-color: #6CB4E4;
margin: 10px;
margin-bottom: 0px;
margin-left: 0px;
margin-right: 0px;
}
/*estilos de debugueo*/
.invitados{
float: left;
margin-right: 20px;
background-color: #33cccc;
margin: 10px;
}
.solo-logueados{
float: left;
margin-right: 20px;
background-color: #ff3333;
margin: 10px;
}
pre{
background-color: #ff0000;
}

/**************************/
.header{
background-color: #ffffcc;
margin: auto;
width:1024px;
height: auto;
overflow: hidden;
}
.contenido{
margin: auto;
width:1024px;
height: auto;
overflow: hidden;
}
.col-izquierda, .col-profesional, .col-empresa{
border: 1px solid #000000;
float: left;
overflow: hidden;
width: 212px;
margin-left: 15px;
}
.col-centroizquierda{
border: 1px solid #000000;
float: left;
overflow: hidden;
width: 761px;
height: 592px;
margin-left: 15px;
}
.col-central, .col-profesional-centro, .col-empresa-centro{
border: 1px solid #000000;
float: left;
overflow: hidden;
width: 550px;
margin-left: 10px;
}
.col-derecha, .col-profesional-derecha, .col-empresa-derecha{
border: 1px solid #000000;
float: left;
overflow: hidden;
width: 212px;
margin-left: 10px;
}
.col-centroizquierda .col-derecha{
margin-left: 22px;
}

.footer{
margin: auto;
background-color: #ffffcc;
width: 1024px;
overflow: hidden;
}