/*BOTONES e INPUTs globales*/
.boton1{
width: 70px;
height: 21px;
background-image: url(imagenes/boton1.png);
border: 0;
}

.solapa-lateral{
width: 80px;
height: 80px;
border: 0;
overflow: hidden;
}
.solapa-lateral .extremo{
float: left;
width: 9px;
height: 80px;
background-image: url(imagenes/borde-solapa-lateral.png);
background-repeat: no-repeat;
border: 0;
}
.solapa-lateral .degrade{
border-top: 1px solid #cccccc;
border-bottom: 1px solid #cccccc;
float:left;
width: 71px;
height: 78px;
background-image: url(imagenes/degrade-solapa-lateral.png);
background-repeat: repeat-x;
}
/**/
.col-profesional .superior-col, .col-profesional .profesional-col, .col-profesional .medio-col, .col-profesional .inferior-col{
border: 1px solid #000000;
background-color: #dddddd;
float: left;
overflow: hidden;
width: 196px;
}
.col-profesional .superior-col{
height: 50px;
}
.col-profesional .profesional-col{
height: 300px;
}
.col-profesional .medio-col{
height: 100px;
}
.col-profesional .inferior-col{
height: 50px;
}
/**/
.col-profesional-centro .casilla-superior, .col-profesional-centro .casilla-inferior{
border: 1px solid #000000;
background-color: #dddddd;
float: left;
overflow: hidden;
width: 591px;
}
.col-profesional-centro .casilla-superior{
height: 300px;
}
.casilla-superior .borde-solapas, .casilla-superior .portfolio, .casilla-superior .mensajes{
border: 1px solid #000000;
background-color: #dddddd;
float: left;
overflow: hidden;
height: 296px;
}
.casilla-superior .borde-solapas{
width: 100px;
}
.solapa{
border: 1px solid #000000;
float: left;
width: 70px;
height: 70px;
}
.casilla-superior .portfolio, .casilla-superior .mensajes{
width: 480px;
}
.col-profesional-centro .casilla-inferior{
height: 200px;
}
/**/
.col-profesional-derecha .superior-col, .col-profesional-derecha .clasificados-col,
.col-profesional-derecha .publicidad-col, .col-profesional-derecha .inferior-col{
border: 1px solid #000000;
background-color: #dddddd;
float: left;
overflow: hidden;
width: 220px;
}
.col-profesional-derecha .superior-col{
height: 50px;
}
.clasificados-col{
height: 200px;
}
.publicidad-col{
height: 200px;
}
.col-profesional-derecha .inferior-col{
height: 50px;
}
/**/
.col-centroizquierda .col-contenido-home{
border: 1px solid #000000;
background-color: #dddddd;
float: left;
overflow: hidden;
width: 790px;
height:  180px;
}
.col-centroizquierda .col-registrarse{
border: 1px solid #000000;
background-color: #dddddd;
float: left;
overflow: hidden;
width: 350px;
}